<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.liefeng.property.repository.mybatis.EventReportQueryRepository">

	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.liefeng.property.vo.workbench.EventReportVo">

	</resultMap>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="extra.eventType != null and extra.eventType != ''">
				AND #{extra.eventType} = er.event_type
			</if>
			<if test="extra.startDate != null and extra.startDate != '' and 
					extra.endDate != null and extra.endDate != ''">
				AND er.create_time between #{extra.startDate} And #{extra.endDate}
			</if>
			<if test="extra.status != null and extra.status != ''">
				AND #{extra.status} = er.status
			</if>
			<if test="extra.location != null and extra.location != ''">
				AND er.location like CONCAT('%','#{extra.location}','%' );
			</if>
			<if test="extra.orderNum != null and extra.orderNum != ''">
				AND er.location like CONCAT('%','#{extra.orderNum}','%' );
			</if>
		</trim>
	</sql>

	<select id="queryByPage" resultMap="BaseResultMap">
		select 
			er.id as id,
			er.project_id as projectId,
			er.house_num as houseNum,
			er.proprietor_name as proprietorName,
			er.reporter_name as reporterName,
			er.phone as phone ,
			er.report_time as reportTime,
			er.report_mode as reportMode,
			er.event_type as eventType,
			er.category as category,
			er.location as location,
			er.title as title,
			er.content as content,
			er.status as status,
			er.priority as priority,
			er.service_type as serviceType,
			er.pic_url as picUrl,
			er.order_time as picUrl,
			er.result as result,
			er.staff_id as staffId,
			er.accepter_id as staffId,
			er.accept_time as acceptTime,
			er.create_time as createTime,
			er.oem_code as oemCode
		from t_event_report er
		<include refid="Example_Where_Clause" />
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	
	<select id="queryByCount" resultType="java.lang.Long">
		select count(1) from (
		select 
			er.id
		from t_event_report er
		<include refid="Example_Where_Clause" />
		) t
	</select>


</mapper>   
