<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.liefeng.property.repository.mybatis.EventReportQueryRepository">

	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.liefeng.property.vo.workbench.EventReportVo">

	</resultMap>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="extra.eventType != null and extra.eventType != ''">
				AND #{extra.eventType} = er.event_type
			</if>
			<if
				test="extra.startDate != null and extra.startDate != '' and 
					extra.endDate != null and extra.endDate != ''">
				AND er.report_time between FROM_UNIXTIME(#{extra.startDate}/1000,"%Y-%m-%d") And
				FROM_UNIXTIME(#{extra.endDate}/1000,"%Y-%m-%d")
			</if>
			<if test="extra.status != null and extra.status != ''">
				AND #{extra.status} = er.status
			</if>
			<if test="extra.location != null and extra.location != ''">
				AND er.location  like CONCAT('%', #{extra.location},'%')
			</if>
			<if test="extra.oemCode != null and extra.oemCode != ''">
				AND er.oem_code  = #{extra.oemCode}
			</if>
		</trim>
	</sql>

	<select id="queryByPage" resultMap="BaseResultMap">
		select
		er.id as id,
		er.wf_order_id as wfOrderId,
		er.project_id as projectId,
		er.house_num as houseNum,
		er.proprietor_name as houseNum,
		er.reporter_name as reporterName,
		er.phone as phone,
		er.report_time as reportTime,
		er.report_mode as reportMode,
		er.event_type as eventType,
		er.category as category,
		er.location as location,
		er.title as title,
		er.content as content,
		er.status as status,
		er.priority as priority,
		er.service_type as serviceType,
		er.pic_url as picUrl,
		er.order_time as orderTime,
		er.result as result,
		er.staff_id as staffId,
		er.accepter_id as accepterId,
		er.accept_time as acceptTime,
		er.create_time as createTime,
		er.oem_code as oemCode,
		
		ho.order_No as orderNo,
		ho.id as orderId
		from property.t_event_report er
		left join service.wf_hist_order ho on er.wf_order_id= ho.id
		<include refid="Example_Where_Clause" />
		order by er.report_time desc
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>

	<select id="queryByCount" resultType="java.lang.Long">
		select count(1) from (
		select
		er.id
		from t_event_report er
		<include refid="Example_Where_Clause" />
		) t
	</select>
	
	<!-- 待处理查询 条件 -->
	<sql id="Waiting_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="extra.processId !=null and extra.processId !=''">
				AND  o.process_Id = #{extra.processId}
			</if>
			<if test="extra.actor != null and extra.actor != ''">
				AND  ta.actor_Id = #{extra.actor}
			</if>
			<if test="extra.startDate != null and extra.startDate != '' 
				and extra.endDate != null and extra.endDate != ''">
				ANd er.create_time between #{extra.startDate} AND #{extra.endDate}
			</if>
			<if test="extra.taskName != null and extra.taskName != ''">
				ANd t.task_Name = #{extra.taskName} 
			</if>
			<if test="extra.orderNum != null and extra.orderNum != ''">
				AND o.order_No like CONCAT('%','#{extra.orderNum}','%');
			</if>
			<if test="extra.location != null and extra.location != ''">
				AND er.location like CONCAT('%','#{extra.location}','%');
			</if>
			<if test="extra.oemCode != null and extra.oemCode != ''">
				AND er.oem_code  = #{extra.oemCode}
			</if>
		</trim>
	</sql>
	<!-- 待处理查询 -->
	<select id="waitingForQueryByPage" resultMap="BaseResultMap">
		select
		er.id as id,
		er.wf_order_id as wfOrderId,
		er.project_id as projectId,
		er.house_num as houseNum,
		er.proprietor_name as houseNum,
		er.reporter_name as reporterName,
		er.phone as phone,
		er.report_time as reportTime,
		er.report_mode as reportMode,
		er.event_type as eventType,
		er.category as category,
		er.location as location,
		er.title as title,
		er.content as content,
		er.status as status,
		er.priority as priority,
		er.service_type as serviceType,
		er.pic_url as picUrl,
		er.order_time as orderTime,
		er.result as result,
		er.staff_id as staffId,
		er.accepter_id as accepterId,
		er.accept_time as acceptTime,
		er.create_time as createTime,
		er.oem_code as oemCode,
		
		ep.status as processStatus,
		ep.id as processId,
		
		o.process_Id as processId,
		t.order_Id as orderId,
		t.id AS taskId,
		o.order_No as orderNo,
		t.display_Name AS taskDisplayName,
		t.task_Name AS taskName
		FROM
		service.wf_task t
		LEFT JOIN service.wf_order o ON t.order_id = o.id
		LEFT JOIN service.wf_task_actor ta ON ta.task_id = t.id
		LEFT JOIN service.wf_process p ON p.id = o.process_id
		LEFT JOIN property.t_event_report er ON er.wf_order_id = o.id
		LEFT JOIN property.t_event_process ep ON ep.wf_task_id = t.id
		<include refid="Waiting_Where_Clause" />
		AND ep.`status`=1 
		order by t.create_Time desc
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	
	<select id="waitingForQueryByCount" resultType="java.lang.Long">
		select count(1) from (
		select
		er.id as id
		FROM
		service.wf_task t
		LEFT JOIN service.wf_order o ON t.order_id = o.id
		LEFT JOIN service.wf_task_actor ta ON ta.task_id = t.id
		LEFT JOIN service.wf_process p ON p.id = o.process_id
		LEFT JOIN property.t_event_report er ON er.wf_order_id = o.id
		LEFT JOIN property.t_event_process ep ON ep.wf_task_id = t.id
		<include refid="Waiting_Where_Clause" />
		AND ep.`status`=1 
		) t
	</select>
	
	<!-- 流转中 -->
	<select id="flowingQueryByPage" resultMap="BaseResultMap">
		select
		er.id as id,
		er.wf_order_id as wfOrderId,
		er.project_id as projectId,
		er.house_num as houseNum,
		er.proprietor_name as houseNum,
		er.reporter_name as reporterName,
		er.phone as phone,
		er.report_time as reportTime,
		er.report_mode as reportMode,
		er.event_type as eventType,
		er.category as category,
		er.location as location,
		er.title as title,
		er.content as content,
		er.status as status,
		er.priority as priority,
		er.service_type as serviceType,
		er.pic_url as picUrl,
		er.order_time as orderTime,
		er.result as result,
		er.staff_id as staffId,
		er.accepter_id as accepterId,
		er.accept_time as acceptTime,
		er.create_time as createTime,
		er.oem_code as oemCode,
		
		ep.status as processStatus,
		ep.id as processId,
		
		o.process_Id as processId,
		t.order_Id as orderId,
		t.id AS taskId,
		o.order_No as orderNo,
		t.display_Name AS taskDisplayName,
		t.task_Name AS taskName,
		
		<!-- 是否是上一步骤处理人 -->
		(EXISTS (select t.parent_Task_Id from service.wf_hist_task wht2 left join service.wf_hist_task_actor whta2 on wht2.id = whta2.task_Id where wht2.id = t.parent_Task_Id and whta2.actor_Id in (#{extra.actor}))) as isBack
		
		
		FROM
		service.wf_task t
		LEFT JOIN service.wf_order o ON t.order_id = o.id
		LEFT JOIN service.wf_hist_task wht ON t.parent_Task_Id = wht.id
		LEFT JOIN service.wf_hist_task_actor whta ON wht.id = whta.task_Id
		AND whta.actor_Id = #{extra.actor}
		LEFT JOIN property.t_event_report er ON er.wf_order_id = o.id
		LEFT JOIN property.t_event_process ep ON ep.wf_task_id = t.id
		WHERE
		EXISTS(
		SELECT
			ht.id
		FROM
			service.wf_hist_task ht
		LEFT JOIN service.wf_hist_task_actor hta ON hta.task_Id = ht.id
		WHERE
			t.order_Id = ht.order_Id
		AND hta.actor_Id IN(
			#{extra.actor}
		)
		)
		order by wht.create_Time desc
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	
	<select id="flowingQueryByCount"  resultType="java.lang.Long">
	select count(1) from (
		select
		T.id as id
		FROM
		service.wf_task t
		LEFT JOIN service.wf_order o ON t.order_id = o.id
		LEFT JOIN service.wf_hist_task wht ON t.parent_Task_Id = wht.id
		LEFT JOIN service.wf_hist_task_actor whta ON wht.id = whta.task_Id
		AND whta.actor_Id = #{extra.actorId}
		LEFT JOIN service.wf_process p ON p.id = o.process_id
		WHERE
		EXISTS(
		SELECT
			ht.id
		FROM
			service.wf_hist_task ht
		LEFT JOIN service.wf_hist_task_actor hta ON hta.task_Id = ht.id
		WHERE
			t.order_Id = ht.order_Id
		AND hta.actor_Id IN(
			#{extra.actor}
		)
		)
		) t
	</select>
	
	<!-- 已完成 -->
	<select id="completeQueryByPage" resultMap="BaseResultMap">
	SELECT DISTINCT
	    er.id as id,
		er.wf_order_id as wfOrderId,
		er.project_id as projectId,
		er.house_num as houseNum,
		er.proprietor_name as houseNum,
		er.reporter_name as reporterName,
		er.phone as phone,
		er.report_time as reportTime,
		er.report_mode as reportMode,
		er.event_type as eventType,
		er.category as category,
		er.location as location,
		er.title as title,
		er.content as content,
		er.status as status,
		er.priority as priority,
		er.service_type as serviceType,
		er.pic_url as picUrl,
		er.order_time as orderTime,
		er.result as result,
		er.staff_id as staffId,
		er.accepter_id as accepterId,
		er.accept_time as acceptTime,
		er.create_time as createTime,
		er.oem_code as oemCode,
		
		ep.status as processStatus,
		ep.id as processId,
		
   		o.process_Id as processId,
		t.order_Id as orderId,
		t.id AS taskId,
		o.order_No as orderNo,
		t.display_Name AS taskDisplayName,
		t.task_Name AS taskName
	FROM
		service.wf_hist_task t
	LEFT JOIN service.wf_hist_order o ON t.order_id = o.id
	LEFT JOIN service.wf_hist_task_actor ta ON ta.task_id = t.id
	LEFT JOIN property.t_event_report er ON er.wf_order_id = o.id
	LEFT JOIN property.t_event_process ep ON ep.wf_task_id = t.id
	LEFT JOIN service.wf_process p ON p.id = o.process_id
    
		<include refid="Waiting_Where_Clause" />
		AND o.order_state = '0'
		AND ta.actor_id in (#{extra.actor})
		group by o.id
	ORDER BY
			o.create_Time DESC
	</select>
	
	<select id="completeQueryByCount"  resultType="java.lang.Long">
	select count(1) from (
	SELECT DISTINCT
	    t.id as id
	FROM
		service.wf_hist_task t
	LEFT JOIN service.wf_hist_order o ON t.order_id = o.id
	LEFT JOIN service.wf_hist_task_actor ta ON ta.task_id = t.id
	LEFT JOIN service.wf_process p ON p.id = o.process_id
		<include refid="Waiting_Where_Clause" />
		AND o.order_state = '0'
		AND ta.actor_id in (#{extra.actorId})
		group by o.id
		) t
	</select>
	
	<!-- 待签收 -->
	<select id="signForQueryByPage" resultMap="BaseResultMap">
		select
		er.id as id,
		er.wf_order_id as wfOrderId,
		er.project_id as projectId,
		er.house_num as houseNum,
		er.proprietor_name as houseNum,
		er.reporter_name as reporterName,
		er.phone as phone,
		er.report_time as reportTime,
		er.report_mode as reportMode,
		er.event_type as eventType,
		er.category as category,
		er.location as location,
		er.title as title,
		er.content as content,
		er.status as status,
		er.priority as priority,
		er.service_type as serviceType,
		er.pic_url as picUrl,
		er.order_time as orderTime,
		er.result as result,
		er.staff_id as staffId,
		er.accepter_id as accepterId,
		er.accept_time as acceptTime,
		er.create_time as createTime,
		er.oem_code as oemCode,
		
		ep.status as processStatus,
		ep.id as processId,
		
		o.process_Id as processId,
		t.order_Id as orderId,
		t.id AS taskId,
		o.order_No as orderNo,
		t.display_Name AS taskDisplayName,
		t.task_Name AS taskName
		FROM
		service.wf_task t
		LEFT JOIN service.wf_order o ON t.order_id = o.id
		LEFT JOIN service.wf_task_actor ta ON ta.task_id = t.id
		LEFT JOIN service.wf_process p ON p.id = o.process_id
		LEFT JOIN property.t_event_report er ON er.wf_order_id = o.id
		LEFT JOIN property.t_event_process ep ON ep.wf_task_id = t.id
		<include refid="Waiting_Where_Clause" />
		AND (ep.`status`=0 or ep.`status` is null or ep.`status`=2)
		AND ((ep.grab != 1 AND t.task_Name !='handle') or ep.grab is null)
		order by t.create_Time desc
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	
	<select id="signForQueryByCount" resultType="java.lang.Long">
		select count(1) from (
		select
		er.id as id
		FROM
		service.wf_task t
		LEFT JOIN service.wf_order o ON t.order_id = o.id
		LEFT JOIN service.wf_task_actor ta ON ta.task_id = t.id
		LEFT JOIN service.wf_process p ON p.id = o.process_id
		LEFT JOIN property.t_event_report er ON er.wf_order_id = o.id
		LEFT JOIN property.t_event_process ep ON ep.wf_task_id = t.id
		<include refid="Waiting_Where_Clause" />
		AND (ep.`status`=0 or ep.`status` is null  or ep.`status`=2)
		AND (ep.grab != 1 or ep.grab is null)
		) t
	</select>
	
	<!-- 抢单-->
	<select id="grabQueryByPage" resultMap="BaseResultMap">
		select
		er.id as id,
		er.wf_order_id as wfOrderId,
		er.project_id as projectId,
		er.house_num as houseNum,
		er.proprietor_name as houseNum,
		er.reporter_name as reporterName,
		er.phone as phone,
		er.report_time as reportTime,
		er.report_mode as reportMode,
		er.event_type as eventType,
		er.category as category,
		er.location as location,
		er.title as title,
		er.content as content,
		er.status as status,
		er.priority as priority,
		er.service_type as serviceType,
		er.pic_url as picUrl,
		er.order_time as orderTime,
		er.result as result,
		er.staff_id as staffId,
		er.accepter_id as accepterId,
		er.accept_time as acceptTime,
		er.create_time as createTime,
		er.oem_code as oemCode,
		
		ep.status as processStatus,
		ep.id as processId,
		
		o.process_Id as processId,
		t.order_Id as orderId,
		t.id AS taskId,
		o.order_No as orderNo,
		t.display_Name AS taskDisplayName,
		t.task_Name AS taskName
		FROM
		service.wf_task t
		LEFT JOIN service.wf_order o ON t.order_id = o.id
		LEFT JOIN service.wf_task_actor ta ON ta.task_id = t.id
		LEFT JOIN service.wf_process p ON p.id = o.process_id
		LEFT JOIN property.t_event_report er ON er.wf_order_id = o.id
		LEFT JOIN property.t_event_process ep ON ep.wf_task_id = t.id
		<include refid="Waiting_Where_Clause" />
		AND (ep.`status`=0 or ep.`status` is null  or ep.`status`=2)
		AND ep.grab = 1 AND t.task_Name='handle'
		order by t.create_Time desc
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>
	
	<select id="grabQueryByCount" resultType="java.lang.Long">
		select count(1) from (
		select
		er.id as id
		FROM
		service.wf_task t
		LEFT JOIN service.wf_order o ON t.order_id = o.id
		LEFT JOIN service.wf_task_actor ta ON ta.task_id = t.id
		LEFT JOIN service.wf_process p ON p.id = o.process_id
		LEFT JOIN property.t_event_report er ON er.wf_order_id = o.id
		LEFT JOIN property.t_event_process ep ON ep.wf_task_id = t.id
		<include refid="Waiting_Where_Clause" />
		AND (ep.`status`=0 or ep.`status` is null  or ep.`status`=2)
		AND ep.grab = 1 AND t.task_Name='handle'
		) t
	</select>
	
</mapper>   
