<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.liefeng.property.repository.mybatis.EventProcessQueryRepository">
	<resultMap id="BaseResultMap"
		type="com.liefeng.property.vo.workbench.EventProcessVo">

	</resultMap> 
	
	<resultMap id="BaseResultMap2" type="com.liefeng.property.vo.workbench.EventProcessVo" >
		<result column="next_accepter_id" property="nextAccepterId"/>
		<result column="result" property="result"/>
		<result column="pic_urls" property="picUrls"/>
		<result column="accept_time" property="acceptTime"/>
		<result column="assist_accepter_ids" property="assistAccepterIds"/>
	</resultMap>

	<select id="getHisEventProcess" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		ep.id,
		ep.event_id as eventId,
		ep.wf_task_id as wfTaskId,
		ep.curr_accepter_id as currAccepterId,
		ep.next_accepter_id as nextAccepterId,
		ep.assist_accepter_ids as assistAccepterIds,
		ep.audit_status as auditStatus,
		ep.result as result,
		ep.grab,
		ep.accept_time as acceptTime,
		ep.status,
		ep.pic_urls as picUrls,
		ep.consumptions,
		
		er.revisit_mode as revisitMode,
		er.attitude,
		er.timeliness,
		er.level,
		
		t.display_Name as taskDisplayName,
		t.task_Name as taskName
		FROM
		service.wf_hist_task t
		left join property.t_event_process ep on t.id = ep.wf_task_id
		left join property.t_event_report er on ep.event_id = er.id
		Where t.order_id=#{orderId}
		order by t.create_time
	</select>
	
	
	<select id="getActiveEventProcess" resultMap="BaseResultMap">
		SELECT
		ep.id,
		ep.event_id as eventId,
		ep.wf_task_id as wfTaskId,
		ep.curr_accepter_id as currAccepterId,
		ep.next_accepter_id as nextAccepterId,
		ep.assist_accepter_ids as assistAccepterIds,
		ep.audit_status as auditStatus,
		ep.result as result,
		ep.grab,
		ep.accept_time as acceptTime,
		ep.status,
		ep.consumptions,
		ep.pic_urls as picUrls,
		
		er.revisit_mode as revisitMode,
		er.attitude,
		er.timeliness,
		er.level,
		
		t.display_Name as taskDisplayName,
		t.task_Name as taskName
		FROM
		service.wf_task t
		left join service.wf_task_actor ta on t.id = ta.task_Id
		left join property.t_event_process ep on t.id = ep.wf_task_id
		left join property.t_event_report er on ep.event_id = er.id
		Where t.order_id = #{extra.orderId}
		<if test="extra.staffid != null and extra.staffid != ''">
		And ta.actor_Id = #{extra.staffid}
		</if>
	</select> 
	
	<select id="findEventProcess" resultMap="BaseResultMap2" >
		SELECT
			t.next_accepter_id,
			t.result,
			t.pic_urls,
			t.accept_time,
			t.assist_accepter_ids
		FROM
			property.t_event_process t,
			service.wf_hist_task s
		WHERE
			t.event_id = #{extra.eventId}
		AND t.wf_task_id = s.id
		AND s.task_Name = #{extra.taskName}
		ORDER BY s.create_Time
		LIMIT 0,1
	</select>
	
</mapper>   
