<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.GuardUserQueryRepository" > 

<resultMap id="GuardPRUserVo" type="com.liefeng.property.vo.guard.GuardPRUserVo" >
    <result column="id_num" property="customer.idNum"/>
    <result column="sex" property="customer.sex"/>
    <result column="birthday" property="customer.birthday"/>
</resultMap>

<resultMap id="GuardStaffVo" type="com.liefeng.property.vo.guard.GuardStaffVo" ></resultMap>

<sql id="GuardPRUser_Where_Clause">
    WHERE 1=1 
	<trim  suffixOverrides="," >
	    <if test="extra.projectId != null and extra.projectId != ''" >
	        AND t.projectId =  #{extra.projectId}
	    </if>
	    <if test="extra.projectIds != null and extra.projectIds!= ''" >
            AND t.projectId in  ${extra.projectIds}
        </if>
	    <if test="extra.houseNum != null and extra.houseNum != ''" >
	        AND t.houseNum =  #{extra.houseNum}
	    </if>
	    
	     <if test="extra.name != null and extra.name != ''" >
	        AND t.name like CONCAT('%',#{extra.name},'%')
	    </if>
	    
	    <if test="extra.buildingId != null and extra.buildingId != ''" >
	        AND t.building_id =  #{extra.buildingId}
	    </if>
	</trim>
</sql>


<sql id="GuardPRUser_SQL">
	SELECT
	    p.id projectId,
	    p.full_name projectName,
	    h.building_id buildingId,
	    h.house_num houseNum,
	    r.id,
	    'resident' userType,
	    r.`name`,
	    r.mobile,
	    gc.id cardId,
        gc.sn cardSn,
        gc.type cardType,
        gc.`status` cardStatus,
        gc.start_date startDate,
        gc.end_date endDate
	FROM
	    t_resident r 
	LEFT JOIN t_resident_house rh on r.id = rh.resident_id
	LEFT JOIN t_house h ON rh.house_id = h.id
	LEFT JOIN t_project p ON h.project_id = p.id
	LEFT JOIN t_guard_card_user gcu ON r.id = gcu.user_id
	LEFT JOIN t_guard_card gc ON gcu.card_id = gc.id
	where 1=1
	AND NOT EXISTS (SELECT 1 from t_proprietor p where p.cust_global_id = r.cust_global_id and p.project_id = r.project_id)
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	    AND r.oem_code =  #{extra.oemCode}
	</if>
	
	UNION
	
	SELECT
	    prj.id projectId,
	    prj.full_name projectName,
	    h.building_id buildingId,
	    ph.house_num houseNum,
	    p.id,
	    'proprietor' userType,
	    p.`name`,
	    p.phone mobile,
	    gc.id cardId,
        gc.sn cardSn,
        gc.type cardType,
        gc.`status` cardStatus,
        gc.start_date startDate,
        gc.end_date endDate
	FROM
	    property.t_proprietor p
	LEFT JOIN property.t_proprietor_house ph ON p.id = ph.proprietor_id
	LEFT JOIN property.t_project prj ON ph.project_id = prj.id
	LEFT JOIN property.t_guard_card_user gcu ON p.id = gcu.user_id
	LEFT JOIN property.t_guard_card gc ON gcu.card_id = gc.id
	LEFT JOIN property.t_house h on prj.id = ph.project_id and ph.house_num = h.house_num
	where 1=1 
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	    AND p.oem_code =  #{extra.oemCode}
	</if>
</sql>

<select id="queryGuardPRUser" resultMap="GuardPRUserVo">
	select * from (
        <include refid="GuardPRUser_SQL"/>
	) t 
    
    <include refid="GuardPRUser_Where_Clause"/>

	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	</if>

</select>

<select id="queryGuardPRUserByCount"  resultType="java.lang.Long">
    select count(*) from (
        <include refid="GuardPRUser_SQL"/>
    ) t 

    <include refid="GuardPRUser_Where_Clause"/>

</select>

<!-- 查询条件 -->
<sql id="QueryStaff_Where_Clause">
    WHERE 1=1 
    and ps.status = '1'
    and ps.creator_id != '0'
    <trim  suffixOverrides="," >
        <if test="extra.oemCode != null and extra.oemCode != ''" >
            and ps.oem_code = #{extra.oemCode}
        </if>
        
        <if test="extra.departmentId != null and extra.departmentId != ''" >
            and ps.department_id = #{extra.departmentId}
        </if>
        
        <if test="extra.workStatus != null and extra.workStatus != ''" >
            and ps.work_status = #{extra.workStatus}
        </if>
        
        <if test="extra.staffName != null and extra.staffName != ''" >
            and ( ps.number = #{extra.staffName} or ps.name like concat('%',#{extra.staffName},'%') ) 
        </if>
        
        <if test="extra.projectId != null and extra.projectId != ''" >
            and pd.project_id = #{extra.projectId}
        </if>

    </trim>
</sql>


<select id="queryStaffByCount"  resultType="java.lang.Long">
    SELECT
	    count(1)
	FROM
        t_property_staff ps
    LEFT JOIN t_staff_archive sa on ps.id = sa.staff_id
    LEFT JOIN t_property_department pd on ps.department_id = pd.id
    LEFT JOIN t_sys_dict dict on ps.position = dict.`value` and dict.group_code = 'POSITION'
    LEFT JOIN t_guard_card_user gcu on ps.id = gcu.user_id and gcu.user_type = '0'
    LEFT JOIN t_guard_card gc on gc.id = gcu.card_id
    <include refid="QueryStaff_Where_Clause"/>
</select>

<select id="queryStaff" resultMap="GuardStaffVo">
    SELECT
        ps.id,
		pd.`name` deptName,
		dict.name positionName,
		ps.`name` staffName,
		ps.work_status workStatus,
		sa.phone mobile,
		gc.id cardId,
		gc.sn cardSn,
		gc.type cardType,
		gc.`status` cardStatus,
		gc.start_date startDate,
		gc.end_date endDate
    FROM
        t_property_staff ps
    LEFT JOIN t_staff_archive sa on ps.id = sa.staff_id
    LEFT JOIN t_property_department pd on ps.department_id = pd.id
    LEFT JOIN t_sys_dict dict on ps.position = dict.`value` and dict.group_code = 'POSITION'
    LEFT JOIN t_guard_card_user gcu on ps.id = gcu.user_id and gcu.user_type = '0'
    LEFT JOIN t_guard_card gc on gc.id = gcu.card_id
    <include refid="QueryStaff_Where_Clause"/>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
        ${pager.mysqlQueryCondition}
    </if>
</select>

<select id="findPRUser" resultMap="GuardPRUserVo">

	select * from (
	    <choose>
		    <when test="userType == 'proprietor'">
			    SELECT
			        pj.full_name projectName,
			        p.cust_global_id custGlobalId,
			        p.`name`,
			        p.phone mobile,
			        c.sex ,
			        c.id_num,
			        c.birthday
			    FROM
			        t_proprietor p
			    LEFT JOIN basic.t_customer c ON p.cust_global_id = c.global_id
			    LEFT JOIN t_project pj ON p.project_id = pj.id
			    where p.id = #{userId} and p.oem_code = #{oemCode}
			</when>
			<when test="userType == 'resident'">
                SELECT
                    pj.full_name projectName,
                    r.cust_global_id custGlobalId,
                    r.`name`,
                    r.mobile mobile,
                    c.sex ,
                    c.id_num,
                    c.birthday
                FROM
                    t_resident r
                LEFT JOIN basic.t_customer c ON r.cust_global_id = c.global_id
                LEFT JOIN t_project pj ON r.project_id = pj.id
                where r.id = #{userId} and r.oem_code = #{oemCode}
            </when>
		</choose>
	) t
	
</select>

<select id="findStaff" resultMap="GuardStaffVo">
    SELECT
        ps.id,
        pd.`name` deptName,
        dict.name positionName,
        ps.`name` staffName,
        ps.work_status workStatus,
        sa.phone mobile,
        gc.id cardId,
        gc.sn cardSn,
        gc.type cardType,
        gc.`status` cardStatus,
        gc.start_date startDate,
        gc.end_date endDate,
        c.sex sex,
        c.birthday birthday,
        c.id_num idNum
    FROM
        t_property_staff ps
    LEFT JOIN t_staff_archive sa on ps.id = sa.staff_id
    LEFT JOIN basic.t_customer c on sa.cust_global_id = c.global_id
    LEFT JOIN t_property_department pd on ps.department_id = pd.id
    LEFT JOIN t_sys_dict dict on ps.position = dict.`value` and dict.group_code = 'POSITION'
    LEFT JOIN t_guard_card_user gcu on ps.id = gcu.user_id and gcu.user_type = '0'
    LEFT JOIN t_guard_card gc on gc.id = gcu.card_id
    where ps.id = #{staffId}
</select>




</mapper>