<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.GuardUserQueryRepository" > 

<resultMap id="GuardPRUserVo" type="com.liefeng.property.vo.guard.GuardPRUserVo" ></resultMap>

<resultMap id="GuardStaffVo" type="com.liefeng.property.vo.guard.GuardStaffVo" ></resultMap>

<sql id="GuardPRUser_Where_Clause">
    WHERE 1=1 
	<trim  suffixOverrides="," >
	    <if test="extra.projectId != null and extra.projectId != ''" >
	        AND t.projectId =  #{extra.projectId}
	    </if>
	    <if test="extra.projectIds != null and extra.projectIds!= ''" >
            AND t.projectId in  ${extra.projectIds}
        </if>
	    <if test="extra.houseNum != null and extra.houseNum != ''" >
	        AND t.houseNum =  #{extra.houseNum}
	    </if>
	    
	     <if test="extra.name != null and extra.name != ''" >
	        AND t.name like CONCAT('%',#{extra.name},'%')
	    </if>
	    
	    <if test="extra.buildingId != null and extra.buildingId != ''" >
	        AND t.building_id =  #{extra.buildingId}
	    </if>
	</trim>
</sql>

<select id="queryGuardPRUser" resultMap="GuardPRUserVo">
	select * from (
	        SELECT
	            p.id projectId,
	            p.full_name projectName,
	            h.building_id buildingId,
	            h.house_num houseNum,
	            r.id,
	            'resident' userType,
	            r.`name`,
	            r.mobile,
	            gc.id guardCardId,
	            gc.sn guardCardSn,
	            gc.status guardCardStatus
	        FROM
	            t_resident r 
	        LEFT JOIN t_resident_house rh on r.id = rh.resident_id
	        LEFT JOIN t_house h ON rh.house_id = h.id
	        LEFT JOIN t_project p ON h.project_id = p.id
	        LEFT JOIN t_guard_card_user gcu ON r.id = gcu.user_id
	        LEFT JOIN t_guard_card gc ON gcu.card_id = gc.id
	        where 1=1
	        <if test="extra.oemCode != null and extra.oemCode != ''" >
	            AND r.oem_code =  #{extra.oemCode}
	        </if>
	        
	        UNION
	
	        SELECT
	            prj.id projectId,
	            prj.full_name projectName,
	            h.building_id buildingId,
	            ph.house_num houseNum,
	            p.id,
	            'proprietor' userType,
	            p.`name`,
	            p.phone mobile,
	            gc.id guardCardId,
	            gc.sn guardCardSn,
	            gc.status guardCardStatus
	        FROM
	            property.t_proprietor p
	        LEFT JOIN property.t_proprietor_house ph ON p.id = ph.proprietor_id
	        LEFT JOIN property.t_project prj ON ph.project_id = prj.id
	        LEFT JOIN property.t_guard_card_user gcu ON p.id = gcu.user_id
	        LEFT JOIN property.t_guard_card gc ON gcu.card_id = gc.id
	        LEFT JOIN property.t_house h on prj.id = ph.project_id and ph.house_num = h.house_num
	        where 1=1 
	        <if test="extra.oemCode != null and extra.oemCode != ''" >
	            AND p.oem_code =  #{extra.oemCode}
	        </if>
	) t 

    <include refid="GuardPRUser_Where_Clause"/>

	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	</if>

</select>

<select id="queryGuardPRUserByCount"  resultType="java.lang.Long">
    select count(*) from (
       SELECT
                p.id projectId,
                p.full_name projectName,
                h.building_id,
                h.house_num houseNum,
                r.id,
                'resident' userType,
                r.`name`,
                r.mobile,
                gc.id guardCardId,
                gc.sn guardCardSn
            FROM
                t_resident r 
            LEFT JOIN t_resident_house rh on r.id = rh.resident_id
            LEFT JOIN t_house h ON rh.house_id = h.id
            LEFT JOIN t_project p ON h.project_id = p.id
            LEFT JOIN t_guard_card_user gcu ON r.id = gcu.user_id
            LEFT JOIN t_guard_card gc ON gcu.card_id = gc.id
            where 1=1
            <if test="extra.oemCode != null and extra.oemCode != ''" >
                AND r.oem_code =  #{extra.oemCode}
            </if>
            
            UNION
    
            SELECT
                prj.id projectId,
                prj.full_name projectName,
                h.building_id,
                ph.house_num houseNum,
                p.id,
                'proprietor' userType,
                p.`name`,
                p.phone mobile,
                gc.id guardCardId,
                gc.sn guardCardSn
            FROM
                property.t_proprietor p
            LEFT JOIN property.t_proprietor_house ph ON p.id = ph.proprietor_id
            LEFT JOIN property.t_project prj ON ph.project_id = prj.id
            LEFT JOIN property.t_guard_card_user gcu ON p.id = gcu.user_id
            LEFT JOIN property.t_guard_card gc ON gcu.card_id = gc.id
            LEFT JOIN property.t_house h on prj.id = ph.project_id and ph.house_num = h.house_num
            where 1=1 
            <if test="extra.oemCode != null and extra.oemCode != ''" >
                AND p.oem_code =  #{extra.oemCode}
            </if>
    ) t 

    <include refid="GuardPRUser_Where_Clause"/>

</select>

<select id="queryStaffByCount"  resultType="java.lang.Long">
    SELECT
	    count(1)
	FROM
        t_property_staff ps
    LEFT JOIN t_staff_archive sa on ps.id = sa.staff_id
    LEFT JOIN t_property_department pd on ps.department_id = pd.id
    LEFT JOIN t_sys_dict dict on ps.position = dict.`value` and dict.group_code = 'POSITION'
    LEFT JOIN t_guard_card_user gcu on ps.id = gcu.id and gcu.user_type = '0'
    LEFT JOIN t_guard_card gc on gc.id = gcu.card_id
</select>

<select id="queryStaff" resultMap="GuardStaffVo">
    SELECT
        ps.id,
		pd.`name` deptName,
		dict.name positionName,
		ps.`name` staffName,
		ps.work_status workStatus,
		sa.phone mobile,
		gc.id carId,
		gc.sn cardSn,
		gc.`status` cardStatus
    FROM
        t_property_staff ps
    LEFT JOIN t_staff_archive sa on ps.id = sa.staff_id
    LEFT JOIN t_property_department pd on ps.department_id = pd.id
    LEFT JOIN t_sys_dict dict on ps.position = dict.`value` and dict.group_code = 'POSITION'
    LEFT JOIN t_guard_card_user gcu on ps.id = gcu.id and gcu.user_type = '0'
    LEFT JOIN t_guard_card gc on gc.id = gcu.card_id
</select>

</mapper>