<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.HouseQueryRepository" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.household.ProprietorSingleHouseVo" >
	<result column="id" property="houseId"/>
	<result column="house_num" property="houseNum"/>
	<result column="project_id" property="projectId"/>
	<result column="building_id" property="buildingId"/>
	<result column="floor_id" property="floorId"/>
	<result column="house_type" property="houseType"/>
	<result column="actual_area" property="actualArea"/>
	<result column="gross_area" property="grossArea"/>		
	<result column="usable_area" property="usableArea"/>
	<result column="apportion_area" property="apportionArea"/>
	<result column="property_fee" property="propertyFee"/>
	<result column="sale_status" property="saleStatus"/>
	<result column="ownership" property="ownership"/>
	<result column="pay_type" property="payType"/>
	<result column="name" property="name"/>
</resultMap>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1 
<trim  suffixOverrides="," >
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	    and h.oem_code = #{extra.oemCode}
	</if>
	
	<if test="extra.projectId != null and extra.projectId != ''" >
	    AND h.project_id =  #{extra.projectId}
	</if>
	
	<if test="extra.buildingId != null and extra.buildingId != ''" >
	    AND h.building_id = #{extra.buildingId}
	</if>
	
	<if test="extra.houseNum != null and extra.houseNum != ''" >
	    AND h.house_num = #{extra.houseNum}
	</if>
	
	<if test="extra.payType != null and extra.payType != ''" >
	    AND ph.pay_type = #{extra.payType}
	</if>
	
	<if test="extra.name != null and extra.name  != ''" >
	    AND p.name = #{extra.name }
	</if>
</trim>
</sql>

<select id="queryByCount"  resultType="java.lang.Long">
SELECT 
	  COUNT(1) 
FROM
	  (
	  SELECT
	  
	  	  h.id,h.house_num,h.project_id,building_id,floor_id,house_type,
	      actual_area,gross_area,usable_area,apportion_area,
	      property_fee,sale_status,ownership,
	      ph.pay_type,
	      p.name
	  FROM
	      property.t_house h
	      left join property.t_proprietor_house ph
		  on h.house_num = ph.house_num
		  left join property.t_proprietor p
		  on ph.proprietor_id = p.id 
	  <include refid="Example_Where_Clause"/>
	  ) t
</select>

<select id="queryByPage" resultMap="BaseResultMap">
	  SELECT
	      h.id,h.house_num,h.project_id,building_id,floor_id,house_type,
	      actual_area,gross_area,usable_area,apportion_area,
	      property_fee,sale_status,ownership,
	      pay_type,
	      name
	  FROM
	      property.t_house h
	      left join property.t_proprietor_house ph
		  on h.house_num = ph.house_num
		  left join property.t_proprietor p
		  on ph.proprietor_id = p.id 
	  <include refid="Example_Where_Clause"/>
      <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
          ${pager.mysqlQueryCondition}
      </if>
</select>

</mapper>   
