<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.HouseQueryRepository" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.household.ProprietorSingleHouseVo" >
	<result column="id" property="houseId"/>
	<result column="house_num" property="houseNum"/>
	<result column="project_id" property="projectId"/>
	<result column="building_id" property="buildingId"/>
	<result column="floor_id" property="floorId"/>
	<result column="house_type" property="houseType"/>
	<result column="actual_area" property="actualArea"/>
	<result column="gross_area" property="grossArea"/>		
	<result column="usable_area" property="usableArea"/>
	<result column="apportion_area" property="apportionArea"/>
	<result column="property_fee" property="propertyFee"/>
	<result column="sale_status" property="saleStatus"/>
	<result column="ownership" property="ownership"/>
	<result column="pay_type" property="payType"/>
	<result column="name" property="name"/>
	<result column="proprietorId" property="proprietorId"/>
	<result column="useType" property="useType"/>
	<result column="projectName" property="projectName"/>
	<result column="buildingName" property="buildingName"/>
	<result column="floorName" property="floorName"/>
</resultMap>

<resultMap  id="UserHouseMap" type="com.liefeng.property.vo.api.UserHouseVo"></resultMap>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1 
<trim  suffixOverrides="," >
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	    and h.oem_code = #{extra.oemCode}
	</if>
	
	<if test="extra.projectId != null and extra.projectId != ''" >
	    AND h.project_id =  #{extra.projectId}
	</if>
	
	<if test="extra.buildingId != null and extra.buildingId != ''" >
	    AND h.building_id = #{extra.buildingId}
	</if>
	
	<if test="extra.houseNum != null and extra.houseNum != ''" >
	    AND h.house_num = #{extra.houseNum}
	</if>
	
	<if test="extra.payType != null and extra.payType != ''" >
	    AND ph.pay_type = #{extra.payType}
	</if>
	
	<if test="extra.name != null and extra.name  != ''" >
	    AND p.name like CONCAT('%', #{extra.name },'%')
	   
	</if>
</trim>
</sql>

<select id="queryByCount"  resultType="java.lang.Long">
SELECT 
	  COUNT(1) 
FROM
	  (
	  SELECT
	  	  h.id,h.house_num,h.project_id,building_id,floor_id,house_type,
	      actual_area,gross_area,usable_area,apportion_area,
	      property_fee,sale_status,ownership,
	      ph.pay_type,
	      p.name
	  FROM
	      property.t_house h
	      left join property.t_proprietor_house ph
		  on h.house_num = ph.house_num and h.project_id = ph.project_id
		  left join property.t_proprietor p
		  on ph.proprietor_id = p.id 
	  <include refid="Example_Where_Clause"/>
	  ) t
</select>

<select id="queryByPage" resultMap="BaseResultMap">
	  SELECT
	      h.id,
	      h.house_num,
	      h.project_id,
	      building_id,
	      floor_id,
	      house_type,
	      actual_area,
	      gross_area,
	      usable_area,
	      apportion_area,
	      fs.price as property_fee,
	      sale_status,
	      ownership,
	      pay_type,
	      name,
	      p.id as proprietorId,
	      ph.use_type as useType
	  FROM
	      property.t_house h
	      left join property.t_proprietor_house ph
		  on h.house_num = ph.house_num and h.project_id = ph.project_id
		  left join property.t_fee_setting fs
		  on fs.project_id = ph.project_id and fs.use_type = ph.use_type and fs.fee_type = '4'
		  left join property.t_proprietor p
		  on ph.proprietor_id = p.id 
	  <include refid="Example_Where_Clause"/>
	  ORDER BY
	  	  h.register_time DESC 
      <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
          ${pager.mysqlQueryCondition}
      </if>
</select>

<select id="queryById" resultMap="BaseResultMap">
	  SELECT
	      h.id,
	      h.house_num,
	      h.project_id,
	      building_id,
	      floor_id,
	      house_type,
	      actual_area,
	      gross_area,
	      usable_area,
	      apportion_area,
	      fs.price as property_fee,
	      sale_status,
	      ownership,
	      pay_type,
	      p.name as name,
	      p.id as proprietorId,
	      ph.use_type as useType,
	      pj.full_name as projectName,
	      pb.name as buildingName,
	      pf.name as floorName
	  FROM
	      property.t_house h
	      left join property.t_proprietor_house ph
		  on h.house_num = ph.house_num and h.project_id = ph.project_id
		  left join property.t_proprietor p
		  on ph.proprietor_id = p.id 
		  left join property.t_project pj
		  on h.project_id = pj.id
		  left join property.t_project_building pb
		  on h.building_id = pb.id
		  left join property.t_project_building pf
		  on h.floor_id = pf.id
		  left join property.t_fee_setting fs
		  on fs.project_id = ph.project_id and fs.use_type = ph.use_type and fs.fee_type = '4'
	Where 
	     h.id = #{id}
</select>

<sql id="base_view">
	(SELECT
		p.id AS projectId,
		p.full_name AS projectName,
		pb.id AS buildingId,
		pb.name AS buildingName,
		pf.id AS floorId,
		pf.name AS floorName,
		CONCAT(pb.code, pf.code, hs.num) AS houseNum,
		h.id AS houseId,
		hs.id AS houseSpecId,
		sd.name AS houseType,
		pro.name AS name,
		p.oem_code AS oemCode
	FROM
		property.t_project p
	LEFT JOIN property.t_project_building pb ON pb.project_id = p.id
	LEFT JOIN property.t_project_building pf ON pf.parent_id = pb.id
	LEFT JOIN property.t_house_spec hs ON hs.building_id = pb.id
	LEFT JOIN property.t_house h ON h.house_num = CONCAT(pb.code,pf.code,hs.num) AND h.project_id = p.id
	LEFT JOIN property.t_proprietor_house phs ON phs.house_num = h.house_num AND phs.project_id = h.project_id
	LEFT JOIN property.t_proprietor pro ON pro.id = phs.proprietor_id
	LEFT JOIN property.t_sys_dict sd ON sd.group_code = 'HOUSE_TYPE' AND sd.value = hs.house_type
	WHERE
		CONCAT(pb.code,pf.code,hs.num) IS NOT NULL
	ORDER BY
		p.id)
</sql>

<sql id="base_view_clause">
	WHERE 1=1 
	<trim  suffixOverrides="," >
		<if test="extra.oemCode != null and extra.oemCode != ''" >
		    AND v.oemCode = #{extra.oemCode}
		</if>
		
		<if test="extra.projectId != null and extra.projectId != ''" >
		    AND v.projectId =  #{extra.projectId}
		</if>
		
		<if test="extra.buildingId != null and extra.buildingId != ''" >
		    AND v.buildingId = #{extra.buildingId}
		</if>
	</trim>
</sql>

<!-- 查询图形界面数据 -->
<select id="queryGraphData" resultMap="BaseResultMap">
	SELECT 
		v.* 
	FROM 
		<include refid="base_view"/> AS v 
	<include refid="base_view_clause"/>
	ORDER BY
		v.houseNum
</select>

<!-- 查询图形界面合计数据 -->
<select id="queryGraphCount" resultType="java.util.Map">
	SELECT 
		SUM(IF(v.houseId IS NOT NULL, 1, 0)) AS initializedCount, SUM(IF(v.houseId IS NULL, 1, 0)) AS noInitializeCount
	FROM 
		<include refid="base_view"/> AS v 
	<include refid="base_view_clause"/>
</select>

<select id="queryUserHouses" resultMap="UserHouseMap">
SELECT
	v.projectId,
	v.projectName,
	v.buildingId,
	v.houseId,
	v.houseNum,
	v.oemCode
FROM
	((
		SELECT
			p.id AS loginId,
			h.project_id AS projectId,
			pj.full_name AS projectName,
			h.id AS houseId,
			h.building_id AS houseId,
			h.house_num AS houseNum,
			h.oem_code AS oemCode,
			'user' AS type
		FROM
			property.t_house h
			LEFT JOIN property.t_proprietor_house ph ON ph.house_num = h.house_num
			AND ph.project_id = h.project_id
			LEFT JOIN property.t_proprietor p ON p.id = ph.proprietor_id
			LEFT JOIN property.t_project pj ON pj.id = h.project_id
	)
	UNION ALL
	(
		SELECT
			r.id AS loginId,
			h.project_id AS projectId,
			pj.full_name AS projectName,
			h.id AS houseId,
			h.building_id AS houseId,
			h.house_num AS houseNum,
			h.oem_code AS oemCode,
			'resident' AS type
		FROM
			property.t_house h
			LEFT JOIN property.t_resident_house rh ON rh.house_id = h.id
			LEFT JOIN property.t_resident r ON r.id = rh.resident_id
			LEFT JOIN property.t_project pj ON pj.id = h.project_id
	)) AS v
WHERE v.loginId = #{loginId} 
	AND v.oemCode = #{oemCode}
	<choose>
		<!-- 业主 -->
		<when test="type != null and type = '1'">
			AND v.type = 'user'
		</when>
		<!-- 住户 -->
		<when test="">
			AND v.type = 'resident'
		</when>
	</choose>
ORDER BY
	v.houseNum
</select>

</mapper>   
