<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.HouseSpecQueryRepository" > 

<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.project.HouseSpecVo" >
	<result column="id" property="id"/>
	<result column="projectId" property="projectId"/>
	<result column="projectName" property="projectName"/>
	<result column="buildingId" property="buildingId"/>
	<result column="buildingName" property="buildingName"/>
	<result column="buildingCode" property="buildingCode"/>
	<result column="num" property="num"/>
	<result column="houseType" property="houseType"/>
	<result column="actualArea" property="actualArea"/>		
	<result column="grossArea" property="grossArea"/>
	<result column="usableArea" property="usableArea"/>
	<result column="apportionArea" property="apportionArea"/>
	<result column="propertyFee" property="propertyFee"/>
	<result column="ownership" property="ownership"/>
	<result column="oemCode" property="oemCode"/>
	<result column="floorId" property="floorId"/>
	<result column="floorName" property="floorName"/>
	<result column="floorCode" property="floorCode"/>
	<result column="flag" property="flag"/>
</resultMap>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1 
<trim  suffixOverrides="," >
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	    and hs.oem_code = #{extra.oemCode}
	</if>
	
	<if test="extra.projectId != null and extra.projectId != ''" >
	    AND hs.project_id =  #{extra.projectId}
	</if>
	
	<if test="extra.buildingId != null and extra.buildingId != ''" >
	    AND hs.building_id = #{extra.buildingId}
	</if>
	
	<if test="extra.floorId != null and extra.floorId != ''" >
	    AND hs.floor_id = #{extra.floorId}
	</if>
</trim>
</sql>

<select id="queryByCount"  resultType="java.lang.Long">
	select
	  count(1)
	from (
		select
		    hs.id
		from
		    property.t_house_spec hs 
			left join property.t_project p 
			on hs.project_id = p.id 
			left join property.t_project_building pb 
			on hs.building_id = pb.id
			left join property.t_project_building pb2 
			on hs.floor_id = pb2.id
			<include refid="Example_Where_Clause"/>
	) as ttt
</select>

<select id="queryByPage" resultMap="BaseResultMap">
	  select
	    hs.id as id,
	    hs.project_id as projectId,
	    p.full_name as projectName,
	    hs.building_id as buildingId,
	    pb.name as buildingName,
	    pb.code as buildingCode,
	    hs.num as num,
	    hs.house_type as houseType,
	    hs.actual_area as actualArea,
	    hs.gross_area as grossArea,
	    hs.usable_area as usableArea,
	    hs.apportion_area as apportionArea,
	    hs.property_fee as propertyFee,
	    hs.ownership as ownership,
	    hs.oem_code as oemCode,
	    hs.floor_id as floorId,
		pb2.name as floorName,
		pb2.code as floorCode
	  from
	    property.t_house_spec hs 
		left join property.t_project p 
		on hs.project_id = p.id 
		left join property.t_project_building pb 
		on hs.building_id = pb.id
		left join property.t_project_building pb2 
		on hs.floor_id = pb2.id
	  <include refid="Example_Where_Clause"/>
      <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
         ${pager.mysqlQueryCondition}
      </if>
</select>

<!-- 查询已关联房型的房产数量 -->
<select id="queryRelatedHouseCount" resultType="java.lang.Long">
	SELECT
		count(h.id)
	FROM
		t_house h,
		(
			SELECT
				s.project_id,
				s.oem_code,
				concat(b. CODE, c. CODE, s.num)AS house_num
			FROM
				t_house_spec s
			LEFT JOIN t_project_building b ON s.building_id = b.id
			LEFT JOIN t_project_building c ON s.floor_id = c.id
			WHERE
				s.id = #{houseSpecId}
		)v
	WHERE
		h.oem_code = v.oem_code
	AND h.project_id = v.project_id
	AND h.house_num = v.house_num
</select>

<!-- 查询已关联房型的房产数量 -->
<select id="queryById" resultMap="BaseResultMap">
	select
	    hs.id as id,
	    hs.project_id as projectId,
	    hs.building_id as buildingId,
	    pb.name as buildingName,
	    pb.code as buildingCode,
	    hs.num as num,
	    hs.house_type as houseType,
	    hs.actual_area as actualArea,
	    hs.gross_area as grossArea,
	    hs.usable_area as usableArea,
	    hs.apportion_area as apportionArea,
	    hs.property_fee as propertyFee,
	    hs.ownership as ownership,
	    hs.oem_code as oemCode,
	    hs.floor_id as floorId,
		pb2.name as floorName 
	  from
	  	property.t_house_spec hs 
		left join property.t_project_building pb 
		on hs.building_id = pb.id
		left join property.t_project_building pb2 
		on hs.floor_id = pb2.id
	 where
	 	hs.id = #{houseSpecId}
</select>

<select id="queryByHouseSpecId" resultMap="BaseResultMap">
	  select
	    hs.id as id,
	    hs.project_id as projectId,
	    p.full_name as projectName,
	    hs.building_id as buildingId,
	    pb.name as buildingName,
	    pb.code as buildingCode,
	    hs.num as num,
	    hs.house_type as houseType,
	    hs.actual_area as actualArea,
	    hs.gross_area as grossArea,
	    hs.usable_area as usableArea,
	    hs.apportion_area as apportionArea,
	    hs.property_fee as propertyFee,
	    hs.ownership as ownership,
	    hs.oem_code as oemCode,
	    hs.floor_id as floorId,
		pb2.name as floorName
	  from
	    property.t_house_spec hs 
		left join property.t_project p 
		on hs.project_id = p.id 
		left join property.t_project_building pb 
		on hs.building_id = pb.id
		left join property.t_project_building pb2 
		on hs.floor_id = pb2.id
		where 1=1
		<if test="extra.oemCode != null and extra.oemCode != ''" >
		    and hs.oem_code = #{extra.oemCode}
		</if>
		
		<if test="extra.id != null and extra.id != ''" >
		    AND hs.id =  #{extra.id}
		</if>
</select>

<select id="countByProjectIdAndBuildingId" resultMap="BaseResultMap">
	select floorId, number from (
	SELECT
		s.floor_id as floorId,
		count(s.id) as number,
		b.code
	FROM
		t_house_spec s
	LEFT JOIN t_project_building b ON s.floor_id = b.id
	WHERE 1=1
	<if test="extra.projectId != null and extra.projectId != ''" >
	    AND s.project_id  =  #{extra.projectId}
	</if>
	<if test="extra.buildingId != null and extra.buildingId != ''" >
	    AND s.building_id  =  #{extra.buildingId}
	</if>
	GROUP BY
		(s.floor_id)
	) v order by code
</select>
<!-- 验收管理列表专用 -->
<select id="queryForHouseCheck" resultMap="BaseResultMap">
	SELECT
		buildingId,
		buildingName,
		buildingCode,
		floorId,
		floorName,
		floorCode,
		num,
		flag 
	FROM 
	(
		SELECT
			hs.building_id AS buildingId,
			pb. NAME AS buildingName,
			pb. CODE AS buildingCode,
			CONCAT(pb2. CODE, hs.num)AS num,
			hs.floor_id AS floorId,
			pb2. NAME AS floorName,
			pb2. CODE AS floorCode,
			CASE when 	(
				SELECT
					count(c.id) as number
				FROM
					property.t_house_check c
				WHERE
					c.project_id = hs.project_id
				AND c.house_num = CONCAT(pb. CODE, pb2. CODE, hs.num)
				AND hs.oem_code = c.oem_code
			) >= 1 then 1 else 0 end as flag
		FROM
			property.t_house_spec hs
		LEFT JOIN property.t_project p ON hs.project_id = p.id
		LEFT JOIN property.t_project_building pb ON hs.building_id = pb.id
		LEFT JOIN property.t_project_building pb2 ON hs.floor_id = pb2.id
		WHERE
			1 = 1
		<if test="extra.projectId != null and extra.projectId != ''" >
	   		 AND hs.project_id =  #{extra.projectId}
		</if>
		
		<if test="extra.buildingId != null and extra.buildingId != ''" >
		    AND hs.building_id = #{extra.buildingId}
		</if>
		
		<if test="extra.floorId != null and extra.floorId != ''" >
		    AND hs.floor_id = #{extra.floorId}
		</if>
		<if test="extra.oemCode != null and extra.oemCode != ''" >
	    AND hs.oem_code = #{extra.oemCode}
		</if>
	)a where 1=1
		<if test="extra.flag != null and extra.flag != ''" >
	    AND flag = #{extra.flag}
		</if>
		order by buildingCode asc, num asc
     <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
        ${pager.mysqlQueryCondition}
     </if>
</select>

<!-- 验收管理专用 -->
<select id="countForHouseCheck"  resultType="java.lang.Long">
	select
	  count(1)
	from (
			SELECT
				buildingId,
				buildingName,
				buildingCode,
				floorId,
				floorName,
				floorCode,
				num,
				flag 
			FROM 
			(
				SELECT
					hs.building_id AS buildingId,
					pb. NAME AS buildingName,
					pb. CODE AS buildingCode,
					CONCAT(pb2. CODE, hs.num)AS num,
					hs.floor_id AS floorId,
					pb2. NAME AS floorName,
					pb2. CODE AS floorCode,
					CASE when 	(
						SELECT
							count(c.id) as number
						FROM
							property.t_house_check c
						WHERE
							c.project_id = hs.project_id
						AND c.house_num = CONCAT(pb. CODE, pb2. CODE, hs.num)
						AND hs.oem_code = c.oem_code
					) >= 1 then 1 else 0 end as flag
				FROM
					property.t_house_spec hs
				LEFT JOIN property.t_project p ON hs.project_id = p.id
				LEFT JOIN property.t_project_building pb ON hs.building_id = pb.id
				LEFT JOIN property.t_project_building pb2 ON hs.floor_id = pb2.id
				WHERE
					1 = 1
				<if test="extra.projectId != null and extra.projectId != ''" >
			   		 AND hs.project_id =  #{extra.projectId}
				</if>
				
				<if test="extra.buildingId != null and extra.buildingId != ''" >
				    AND hs.building_id = #{extra.buildingId}
				</if>
				
				<if test="extra.floorId != null and extra.floorId != ''" >
				    AND hs.floor_id = #{extra.floorId}
				</if>
				<if test="extra.oemCode != null and extra.oemCode != ''" >
			    AND hs.oem_code = #{extra.oemCode}
				</if>
			)a where 1=1
				<if test="extra.flag != null and extra.flag != ''" >
			    AND flag = #{extra.flag}
				</if>
	) as ttt
</select>
</mapper>   
