<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.MessageQueryRepository" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.workbench.MessageVo" >
	<result column="id" property="id"/>
	<result column="content" property="content"/>
	<result column="creator_id" property="creatorId"/>
	<result column="create_time" property="createTime"/>
</resultMap>

<!-- 查询条件 -->
<sql id="Where_Clause">
where 
	t.id = p.message_id 
and t.type =  #{extra.type}
and(
	t.parent_id = ''
	or t.parent_id IS NULL
)
and(
	(
		p.type = '1'
		and p.group_id = '-1'
		and FIND_IN_SET(p.project_id, #{extra.manageProject})
	)
	or(
		p.type = '1'
		and p.group_id = #{extra.deptid}
		and p.recipient_id = '-1'
		and FIND_IN_SET(p.project_id, #{extra.manageProject})
	)
	or(
		p.type = '1'
		and p.group_id = #{extra.deptid}
		and p.recipient_id = #{extra.staffId}
		and FIND_IN_SET(p.project_id, #{extra.manageProject})
	)
	or t.creator_id = #{extra.staffId}
)
order by t.create_time desc
</sql>

<select id="queryByPage" resultMap="BaseResultMap">
    select 
    	DISTINCT
	    t.id, 
	    t.content, 
	    t.create_time, 
	    t.creator_id
	from 
		t_message t, 
		t_message_privilege p
		<include refid="Where_Clause" />
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	          ${pager.mysqlQueryCondition}
	    </if>
</select>


<select id="queryByCount"  resultType="java.lang.Long">
	select 
		count(1) 
	from(
		select 
			DISTINCT
			t.id
	    from 
	    	t_message t, 
			t_message_privilege p
	    <include refid="Where_Clause" />
		) t
</select>

</mapper>   
