<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.liefeng.property.repository.mybatis.MeterRecordQueryRepository">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.liefeng.property.vo.fee.MeterRecordVo">
		<result column="id" property="id" />
		<result column="property_id" property="propertyId" />
		<result column="project_id" property="projectId" />
		<result column="building_id" property="buildingId" />
		<result column="floor_id" property="floorId" />
		<result column="house_num" property="houseNum"/>
		<result column="meter_type" property="meterType" />
		<result column="meter_owner" property="meterOwner" />
		<result column="proprietor_name" property="proprietorName" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="pre_num" property="preNum" />
		<result column="curr_num" property="currNum" />
		<result column="use_amount" property="useAmount" />
		<result column="read_date" property="readDate" />
		<result column="staff_id" property="staffId" />
		<result column="create_time" property="createTime" />
		<result column="from" property="from" />
		<result column="isRead" property="isRead" />
		<result column="oem_code" property="oemCode" />
		<result column="onwerCount" property="onwerCount" />
	</resultMap>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="extra.projectId != null and extra.projectId != ''">
				AND ph.project_id = #{extra.projectId}
			</if>

			<if test="extra.buildingId != null and extra.buildingId != ''">
				AND h.building_id = #{extra.buildingId}
			</if>

			<if test="extra.houseNum != null and extra.houseNum != ''">
				AND ph.house_num = #{extra.houseNum}
			</if>

			<if test="extra.from != null and extra.from != ''">
				AND mr.from = #{extra.from}
			</if>
			
			<if test="extra.proprietorName != null and extra.proprietorName  != ''">
				AND p.name  like CONCAT('%','${extra.proprietorName}','%' )
			</if>
			
			<!-- 是否已抄  1 已抄  2 未抄-->
			<choose>
				<when test="extra.isRead == 1">
					AND mr.id is not null 
				</when>
				<when test="extra.isRead == 2">
					AND mr.id is  null
				</when>
			</choose>

		</trim>
	</sql>
	<!-- 链接查询条件 -->
	<sql id="Example_Join_Clause">
		<if test="extra.startDate != null and extra.startDate != ''">
				AND  #{extra.startDate} between mr.start_date and mr.end_date
		</if>
		<if test="extra.meterType != null and extra.meterType != ''">
				AND mr.meter_type = #{extra.meterType}
		</if>
		<if test="extra.meterOwner != null and extra.meterOwner  != ''">
				AND mr.meter_owner = #{extra.meterOwner}
		</if>
	</sql>

	<select id="queryByPage" resultMap="BaseResultMap">
		select
		mr.id as id,
		ph.proprietor_id as propertyId,
		ph.project_id as projectId,
		h.building_id as buildingId,
		ph.house_num as houseNum,
		p.`name` as proprietorName,
		mr.start_date as startDate,
		mr.end_date as endDate,
		mr.use_amount as useAmount,
		mr.read_date as readDate,
		mr.pre_num,
		mr.curr_num,
		(select
			count(tmr.id)
			from
			t_meter_record tmr
			where
			tmr.project_id = mr.project_id
			and tmr.house_num = mr.house_num
			and tmr.start_date =
			mr.start_date
			and tmr.end_date = mr.end_date
		)as isRead
		from
		t_proprietor_house ph
		left join t_meter_record mr on ph.project_id = mr.project_id 
		and ph.house_num = mr.house_num <include refid="Example_Join_Clause" />
		left join t_proprietor p on p.id = ph.proprietor_id
		left join t_house h on h.project_id = ph.project_id
		and h.house_num = ph.house_num
		<include refid="Example_Where_Clause" />
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
          ${pager.mysqlQueryCondition}
        </if>
	</select>

	<select id="queryByCount"  resultType="java.lang.Long">
	select 
	  count(1) 
	from(
		select
		ph.proprietor_id
		from
		t_proprietor_house ph
		left join t_meter_record mr on ph.project_id = mr.project_id 
		and ph.house_num = mr.house_num <include refid="Example_Join_Clause" />
		left join t_proprietor p on p.id = ph.proprietor_id
		left join t_house h on h.project_id = ph.project_id
		and h.house_num = ph.house_num
		<include refid="Example_Where_Clause" />
		) t
	</select>
	
	
	<!-- 公摊表查询条件 -->
	<sql id="Public_Where_Clause">
		where 1=1 AND pb.parent_id is NULL
		<trim suffixOverrides=",">
			<if test="extra.projectId != null and extra.projectId != ''">
				AND pb.project_id = #{extra.projectId}
			</if>

			<if test="extra.buildingId != null and extra.buildingId != ''">
				AND pb.id = #{extra.buildingId}
			</if>


			<if test="extra.from != null and extra.from != ''">
				AND mr.from = #{extra.from}
			</if>
			
			
		</trim>
	</sql>

	<select id="queryPublicMeterRecordByPage"  parameterType="com.liefeng.core.mybatis.vo.PagingParamVo" resultMap="BaseResultMap">
	SELECT
		mr.id,
		pb.id as building_id,
		pb.name as proprietorName,
		pb.project_id as projectId,
		mr.pre_num,
		mr.curr_num,
		mr.end_date,
		mr.start_date,
		mr.use_amount,
		mr.read_date,
		(select COUNT(ph.id) from t_proprietor_house ph,t_house h where  ph.project_id=h.project_id and h.building_id=pb.id ) as onwerCount
	FROM
		t_project_building pb
	LEFT JOIN t_meter_record mr ON pb.id = mr.building_id
	AND mr.meter_owner = 2 
		<include refid="Example_Join_Clause" />
		<include refid="Public_Where_Clause" />
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
          ${pager.mysqlQueryCondition}
        </if>
	</select> 
	
	<select id="queryPublicMeterRecordByCount"  parameterType="com.liefeng.core.mybatis.vo.PagingParamVo" resultMap="BaseResultMap">
	select 
	  count(1) 
	from(
		SELECT
			mr.id
			FROM
			t_project_building pb
			LEFT JOIN t_meter_record mr ON pb.id = mr.building_id
			AND mr.meter_owner = 2
			<include refid="Public_Where_Clause" />
	) as t
	</select> 
	
</mapper>   
