<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.NoticeQueryRepository" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.workbench.NoticeVo" >
	<result column="id" property="id"/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>
	<result column="status" property="status"/>
	<result column="priority" property="priority"/>
	<result column="start_time" property="startTime"/>
	<result column="end_time" property="endTime"/>
	<result column="reason" property="reason"/>		
	<result column="creator_id" property="creatorId"/>
	<result column="create_time" property="createTime"/>
	<result column="publisher_id" property="publisherId"/>
	<result column="publish_time" property="publishTime"/>
	<result column="reviewer_id" property="reviewerId"/>
	<result column="review_time" property="reviewTime"/>
	<result column="archiver_id" property="archiverId"/>
	<result column="archive_time" property="archiveTime"/>
</resultMap>

<!-- 查询条件 -->
<sql id="Where_Clause">
where t.id = p.notice_id
<trim  suffixOverrides="," >
	<if test=" extra.staffId != null and extra.staffId != ''" >
	    and t.creator_id = #{extra.staffId}
	</if>
	<if test="extra.status != null and extra.status != ''">
		and t.status = #{extra.status}
	</if>
	<if test="extra.manageProject != null and extra.manageProject != ''">
		and FIND_IN_SET(p.project_id,  #{extra.manageProject})
	</if>
</trim>
</sql>

<!-- order by -->
<sql id="Order_Clause">
	<!-- 如果sort字段炜空，则默认通过create_time字段排序 -->
	<if test="sort == null" >
		order by t.create_time desc
	</if>
	<!-- sort字段不为空，则以传过来的字段排序 -->
	<if test="sort != null and sort != ''" >
		order by t.${sort} desc
	</if>
	
</sql>

<select id="queryByPage" resultMap="BaseResultMap">
    select 
    	DISTINCT
	    t.id, 
	    t.title, 
	    t.content, 
	    t.status, 
	    t.priority, 
	    t.start_time, 
	    t.end_time, 
	    t.reason, 
	    t.creator_id,
	    t.publisher_id
	from 
		t_notice t,
		t_notice_privilege p
		<include refid="Where_Clause" />
		<include refid="Order_Clause"/>
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	          ${pager.mysqlQueryCondition}
	    </if>
</select>


<select id="queryByCount"  resultType="java.lang.Long">
select 
	count(1) 
from(
		SELECT
			DISTINCT
			t.id
	    FROM 
	    	t_notice t,
			t_notice_privilege p
	    <include refid="Where_Clause" />
	) t
</select>
<!-- 查询已发布的通知（app） -->
<select id="queryOfPublished" resultMap="BaseResultMap">
    SELECT
    	DISTINCT
	    t.id, 
	    t.title, 
	    t.publish_time,
	    t.content
	FROM
		t_notice t,
		t_notice_privilege p
	WHERE
		t.id = p.notice_id
	AND (t.terminal = '0'
	<if test=" extra.terminal != null and extra.terminal != ''" >
	    OR t.terminal = #{extra.terminal}
	</if>
	)
	<if test=" extra.noticeType != null and extra.noticeType != ''" >
	AND t.type = #{extra.noticeType}
	</if>
	AND t.status = '4'
	AND(
		(
			p.group_id = '-1'
			AND FIND_IN_SET(p.project_id, #{extra.projectId})
		)
		OR(
			p.group_id = #{extra.groupId}
			AND p.type = #{extra.privilegeType}
			AND FIND_IN_SET(p.project_id, #{extra.projectId})
		)
	   )
		ORDER BY t.publish_time DESC
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	          ${pager.mysqlQueryCondition}
	    </if>
</select>

<!-- 查询已发布通知数量（app） -->
<select id="queryCountOfPublished"  resultType="java.lang.Long">
select 
	count(1) 
from(
		SELECT
			DISTINCT
			t.id
	    FROM 
	    	t_notice t,
			t_notice_privilege p
	    WHERE
		t.id = p.notice_id
	AND (t.terminal = '0'
	<if test=" extra.terminal != null and extra.terminal != ''" >
	    OR t.terminal = #{extra.terminal}
	</if>
	)
	<if test=" extra.noticeType != null and extra.noticeType != ''" >
	AND t.type = #{extra.noticeType}
	</if>
	AND t.status = '4'
	AND(
		(
			p.group_id = '-1'
			AND FIND_IN_SET(p.project_id, #{extra.projectId})
		)
		OR(
			p.group_id = #{extra.groupId}
			AND p.type = #{extra.privilegeType}
			AND FIND_IN_SET(p.project_id, #{extra.projectId})
		)
	   )
	) t
</select>

<select id="queryPublishedByPage" resultMap="BaseResultMap">
    SELECT
    	DISTINCT
	    t.id, 
	    t.title, 
	    t.content, 
	    t.status, 
	    t.priority, 
	    t.start_time, 
	    t.end_time, 
	    t.reason, 
	    t.creator_id,
	    t.publisher_id,
	    t.publish_time
	FROM
		t_notice t,
		t_notice_privilege p
	WHERE
		t.id = p.notice_id
	AND t.status = '4'
	AND(
		(
			p.group_id = '-1'
			AND FIND_IN_SET(p.project_id, #{extra.manageProject})
		)
		OR(
			p.group_id = #{extra.deptId}
			AND p.type = '1'
			AND FIND_IN_SET(p.project_id, #{extra.manageProject})
		)
		OR(
			t.creator_id = #{extra.staffId}
		)
	   )
		ORDER BY t.publish_time DESC
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	          ${pager.mysqlQueryCondition}
	    </if>
</select>

<select id="queryPublishedByCount"  resultType="java.lang.Long">
select 
	count(1) 
from(
		SELECT
			DISTINCT
			t.id
	    FROM 
	    	t_notice t,
			t_notice_privilege p
	    WHERE
		t.id = p.notice_id
	AND t.status = '4'
	AND(
		(
			p.group_id = '-1'
			AND FIND_IN_SET(p.project_id, #{extra.manageProject})
		)
		OR(
			p.group_id = #{extra.deptId}
			AND p.type = '1'
			AND FIND_IN_SET(p.project_id, #{extra.manageProject})
		)
		OR(
			t.creator_id = #{extra.staffId}
		)
	   )
	) t
</select>

</mapper>   
