<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.ProprietorQueryRepository" > 

<!-- 业主-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.household.ProprietorSingleHouseVo" >
	
</resultMap>

<!-- 用户 -->
<resultMap id="UserResultMap" type="com.liefeng.base.vo.UserVo" >
	<result column="customerName" property="customer.realName"/>
</resultMap>

<!-- 业主查询条件 -->
<sql id="Example_Where_Clause">
	WHERE 1=1 
<trim  suffixOverrides="," >
	<if test="extra.proprietorId != null and extra.proprietorId != ''" >
	    AND a.proprietor_id =  #{extra.proprietorId}
	</if>
	
	<if test="extra.proprietorName != null and extra.proprietorName != ''" >
	    AND b.name like concat('%', #{extra.proprietorName}, '%')
	</if>

	<if test="extra.proprietorHouseId != null and extra.proprietorHouseId != ''" >
	    AND a.id =  #{extra.proprietorHouseId}
	</if>
	
	<if test="extra.projectId != null and extra.projectId != ''" >
	    AND a.project_id =  #{extra.projectId}
	</if>
	
	<if test="extra.projectName != null and extra.projectName != ''" >
	    AND c.full_name =  #{extra.projectName}
	</if>
	
	<if test="extra.floorId != null and extra.floorId != ''" >
	    AND c.floor_id =  #{extra.floorId}
	</if>
	
	<if test="extra.buildingId != null and extra.buildingId != ''" >
	    AND c.building_id = #{extra.buildingId}
	</if>
	
	<if test="extra.houseNum != null and extra.houseNum != ''" >
	    AND a.house_num like  concat('%', #{extra.houseNum},'%')
	</if>
	
	<if test="extra.phone != null and extra.phone != ''" >
	    AND b.phone like concat('%', #{extra.phone}, '%')
	</if>
	
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	    AND a.oem_code =  #{extra.oemCode}
	</if>
</trim>
</sql>

<!-- 用户查询条件 -->
<sql id="User_Where_Clause">
	where 1=1 
<trim  suffixOverrides="," >
	<if test="extra.projectId != null and extra.projectId != ''" >
	    and p.project_id =  #{extra.projectId}
	</if>
	
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	    and u.oem_code = #{extra.oemCode}
	</if>
	
	<if test="extra.buildingId != null and extra.buildingId != ''" >
	    and h.building_id = #{extra.buildingId}
	</if>
	
	<if test="extra.floorId != null and extra.floorId != ''" >
	    and h.floor_id = #{extra.floorId}
	</if>
	
	<if test="extra.phone != null and extra.phone != ''" >
	    and u.mobile like concat('%',#{extra.phone},'%')
	</if>
	
	<if test="extra.proprietorName != null and extra.proprietorName != ''" >
	    and p.name like concat('%',#{extra.proprietorName},'%')
	</if>
	
	<if test="extra.houseNum != null and extra.houseNum != ''" >
	    and h.house_num like concat('%',#{extra.houseNum},'%')
	</if>
</trim>
</sql>

<select id="queryByPage"  resultMap="BaseResultMap">
	  SELECT 
		b.project_id AS projectId,
		b.id AS proprietorId,
		e.full_name AS projectName,
		b.name AS name,
		b.phone AS phone,
		a.id AS proprietorHouseId,
		a.use_type AS useType,
		a.pay_type AS payType,
		a.checkin_date AS checkinDate,
		c.id As houseId,
		c.house_num AS houseNum,
		d.id_num AS idNum
	  FROM 
	  	property.t_proprietor_house a 
	  	LEFT JOIN property.t_proprietor b 
	  	ON a.proprietor_id = b.id 
	  	LEFT JOIN property.t_house c 
	  	ON a.project_id = c.project_id AND a.house_num = c.house_num
	  	LEFT JOIN basic.t_customer d 
	  	ON b.cust_global_id = d.global_id
	  	LEFT JOIN property.t_project e 
	  	ON e.id = a.project_id
	  <include refid="Example_Where_Clause"/>
	  ORDER BY 
	    a.register_time DESC
	 <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
     </if>
</select>

<select id="queryByCount"  resultType="java.lang.Long">
	SELECT 
		  COUNT(1) 
	FROM
		( SELECT 
			a.id
		  FROM 
		  	property.t_proprietor_house a 
		  	LEFT JOIN property.t_proprietor b 
		  	ON a.proprietor_id = b.id 
		  	LEFT JOIN property.t_house c 
		  	ON a.project_id = c.project_id AND a.house_num = c.house_num
		  	LEFT JOIN basic.t_customer d 
		  	ON b.cust_global_id = d.global_id
		  	LEFT JOIN property.t_project e 
		  	ON e.id = a.project_id
		  <include refid="Example_Where_Clause"/>) AS t
</select>

<select id="queryProprietorSingleHouse" parameterType="java.lang.String" resultMap="BaseResultMap">
	  SELECT 
		b.id AS proprietorId,
		b.project_id AS projectId,
		e.full_name AS projectName,
		b.name AS name,
		b.phone AS phone,
		b.email AS email,
		b.work_unit AS workUnit,
		b.address AS address,
		b.zip_code AS zipCode,
		b.emergency_contact AS emergencyContact,
		b.emergency_phone AS emergencyPhone,
		b.pic_url AS picUrl,
		b.remark AS remark,
		
		a.id AS proprietorHouseId,
		a.house_num as houseNum,
		a.contract_code AS contractCode,
		a.use_type AS useType,
		a.pay_type AS payType,
		a.checkin_mode AS checkinMode,
		a.checkin_date AS checkinDate,
		a.mandatary_relation AS mandataryRelation,
		a.mandatary_name AS mandataryName,
		a.mandatary_sex AS mandatarySex,
		a.mandatary_phone AS mandataryPhone,
		a.mandatary_id_num AS mandataryIdNum,
		a.mandatary_work_unit AS mandataryWorkUnit,
		a.mandatary_address AS mandataryAddress,
		
		c.id AS houseId,
		d.id AS customerId,
		d.global_id AS custGlobalId,
		d.id_num AS idNum,
		d.mobile AS mobile,
		d.real_name AS realName,
		d.sex AS sex,
		d.birthday AS birthday,
		d.marital_status AS maritalStatus,
		d.status AS status
	  FROM 
	  	property.t_proprietor_house a 
	  	LEFT JOIN property.t_proprietor b 
	  	ON a.proprietor_id = b.id 
	  	LEFT JOIN property.t_house c 
	  	ON a.project_id = c.project_id AND a.house_num = c.house_num
	  	LEFT JOIN basic.t_customer d 
	  	ON b.cust_global_id = d.global_id
	  	LEFT JOIN property.t_project e 
	  	ON e.id = a.project_id
	 WHERE
	    a.id = #{proprietorHouseId}
</select>


<select id="queryProprietorUser" resultMap="UserResultMap">
	select 
		distinct u.id as id,
		u.user_global_id as userGlobalId,
		u.cust_global_id as custGlobalId,
		u.register_type as registerType,
		u.mobile as mobile,
		u.activate_time as activateTime,
		u.last_login_time as lastLoginTime,
		u.status as status,
		u.oem_code as oemCode,
		p.name as customerName
	from
		basic.t_user u
		left join property.t_proprietor p
		on p.cust_global_id = u.cust_global_id and p.phone = u.mobile and p.oem_code = u.oem_code
		left join property.t_proprietor_house ph
		on ph.proprietor_id = p.id
		left join property.t_house h
		on h.project_id = ph.project_id and h.house_num = ph.house_num	
	<include refid="User_Where_Clause"/>
	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
		${pager.mysqlQueryCondition}
	</if>
</select>

<select id="queryProprietorUserCount"  resultType="java.lang.Long">
	select
	  count(1)
	from (
		select 
			distinct u.id as id
		from
			basic.t_user u
			left join property.t_proprietor p
			on p.cust_global_id = u.cust_global_id and p.phone = u.mobile and p.oem_code = u.oem_code
			left join property.t_proprietor_house ph
			on ph.proprietor_id = p.id
			left join property.t_house h
			on h.project_id = ph.project_id and h.house_num = ph.house_num	
		<include refid="User_Where_Clause"/>
	) as ttt
</select>

</mapper>   
