<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.PropertyStaffQueryRepository" > 
    
<resultMap id="PropertyStaffListVo" type="com.liefeng.property.vo.staff.PropertyStaffListVo" >
    <result column="id" property="id"/>
    <result column="number" property="number"/>
    <result column="name" property="name"/>
    <result column="id_num" property="idNum"/>
    <result column="entry_time" property="entryTime"/>
    <result column="phone" property="phone"/>
    <result column="department" property="department"/>
    <result column="position" property="position"/>
    <result column="work_status" property="workStatus"/>
    <result column="account" property="account"/>
</resultMap>

<resultMap id="PropertyStaffVo" type="com.liefeng.property.vo.staff.PropertyStaffVo" >
    <result column="id" property="id"/>
    <result column="entry_time" property="entryTime"/>
    <result column="work_status" property="workStatus"/>
    <result column="department_id" property="departmentId"/>
    <result column="creator_id" property="creatorId"/>
    <result column="oem_code" property="oemCode"/>
</resultMap>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
    WHERE 1=1 
    and stf.status = '1'
    and stf.creator_id != '0'
	<trim  suffixOverrides="," >
        <if test="extra.oemCode != null and extra.oemCode != ''" >
            and stf.oem_code = #{extra.oemCode}
        </if>
        
        <if test="extra.departmentId != null and extra.departmentId != ''" >
            and stf.department_id = #{extra.departmentId}
        </if>
        
        <if test="extra.workStatus != null and extra.workStatus != ''" >
            and stf.work_status = #{extra.workStatus}
        </if>
        
        <if test="extra.idOrName != null and extra.idOrName != ''" >
            and ( stf.number = #{extra.idOrName} or stf.name like concat('%',#{extra.idOrName},'%') ) 
        </if>
	</trim>
</sql>

<select id="queryByCount"  resultType="java.lang.Long">
    SELECT
        count(1)
    FROM
        t_property_staff stf
    LEFT JOIN t_staff_archive stfarc ON stf.id = stfarc.staff_id
    LEFT JOIN basic.t_customer cst ON stfarc.cust_global_id = cst.global_id
    LEFT JOIN t_property_department dept on stf.department_id = dept.id
    LEFT JOIN t_sys_dict dict on stf.position = dict.`value` and dict.group_code = 'POSITION'
    <if test="extra.projectId != null and extra.projectId != ''" >
         LEFT JOIN t_manage_project mp on stf.id = mp.staff_id and mp.project_id = #{extra.projectId}
    </if>
    <include refid="Example_Where_Clause"/>
</select>

<select id="queryByPage" resultMap="PropertyStaffListVo" >
	SELECT
	    stf.id,
	    stf.number,
	    stf.`name`,
	    cst.id_num,
	    stf.entry_time,
	    stfarc.phone,
	    dept.`name` department,
	    dict.`name` position,
	    stf.work_status,
	    stf.account
	FROM
	    t_property_staff stf
	LEFT JOIN t_staff_archive stfarc ON stf.id = stfarc.staff_id
	LEFT JOIN basic.t_customer cst ON stfarc.cust_global_id = cst.global_id
	LEFT JOIN t_property_department dept on stf.department_id = dept.id
	LEFT JOIN t_sys_dict dict on stf.position = dict.`value` and dict.group_code = 'POSITION'
	<if test="extra.projectId != null and extra.projectId != ''" >
         LEFT JOIN t_manage_project mp on stf.id = mp.staff_id and mp.project_id = #{extra.projectId}
    </if>
	<include refid="Example_Where_Clause"/>
	order by stf.create_time desc
	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
          ${pager.mysqlQueryCondition}
    </if>
</select>

<select id="queryByDeptIdAndProjectId" resultMap="PropertyStaffVo" >
    select 
        stf.* 
    from
        t_property_staff stf
    left join t_manage_project mp on stf.id = mp.staff_id
    where 1=1 
    <if test="extra.projectId != null and extra.projectId != ''" >
        AND mp.project_id =  #{extra.projectId}
    </if>
    <if test="extra.departmentId != null and extra.departmentId != ''" >
        AND stf.department_id =  #{extra.departmentId}
    </if>
    
</select>

<select id="queryByRoleId" resultMap="PropertyStaffVo" >
    SELECT
        stf.id,
        stf.account,
        stf.name,
        stf.number,
        stf.entry_time,
        stf.work_status,
        stf.department_id,
        stf.position,
        stf.create_time,
        stf.creator_id,
        stf.oem_code
	FROM
	    t_sys_role_user sru
	LEFT JOIN t_property_staff stf ON sru.user_id = stf.id
	WHERE
	    sru.role_id = #{extra.roleId}
</select>

<select id="findPropertyStaffById4DP"  resultMap="PropertyStaffVo" >
	select 
	 ps.*,
	 pd.name as departmentName,
	 sd.name as positionName
	 from 
	 property.t_property_staff ps 
	 left join property.t_property_department pd on pd.id = ps.department_id 
	 left join t_sys_dict sd on sd.`value`=ps.position and sd.group_code ='POSITION'  
	 where ps.id = #{propertyStaffId}
</select>

</mapper>
