<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.ProprietorQueryRepository" > 

<!-- 业主-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.household.ProprietorSingleHouseVo" >
	
</resultMap>

<!-- 用户 -->
<resultMap id="UserResultMap" type="com.liefeng.base.vo.UserVo" >
	<result column="customerName" property="customer.realName"/>
</resultMap>

<!-- userIdClientId -->
<resultMap id="UserClientIdResultMap" type="com.liefeng.property.vo.household.UserClientIdVo" >
</resultMap>

<!-- 业主信息 -->
<resultMap id="proprietorMap" type="com.liefeng.property.vo.household.ProprietorVo">

</resultMap>

<!-- 业主查询条件 -->
<sql id="Example_Where_Clause">
	WHERE 1=1 
<trim  suffixOverrides="," >
	<if test="extra.proprietorId != null and extra.proprietorId != ''" >
	    AND a.proprietor_id =  #{extra.proprietorId}
	</if>
	
	<if test="extra.proprietorName != null and extra.proprietorName != ''" >
	    AND b.name like concat('%', #{extra.proprietorName}, '%')
	</if>

	<if test="extra.proprietorHouseId != null and extra.proprietorHouseId != ''" >
	    AND a.id =  #{extra.proprietorHouseId}
	</if>
	
	<if test="extra.projectId != null and extra.projectId != ''" >
	    AND a.project_id =  #{extra.projectId}
	</if>
	
	<if test="extra.projectIds != null and extra.projectIds != ''">
		AND a.project_id IN  ${extra.projectIds}
	</if>
	
	<if test="extra.projectName != null and extra.projectName != ''" >
	    AND c.full_name =  #{extra.projectName}
	</if>
	
	<if test="extra.floorId != null and extra.floorId != ''" >
	    AND c.floor_id =  #{extra.floorId}
	</if>
	
	<if test="extra.buildingId != null and extra.buildingId != ''" >
	    AND c.building_id = #{extra.buildingId}
	</if>
	
	<if test="extra.houseNum != null and extra.houseNum != ''" >
	    AND a.house_num like  concat('%', #{extra.houseNum},'%')
	</if>
	
	<if test="extra.phone != null and extra.phone != ''" >
	    AND b.phone like concat('%', #{extra.phone}, '%')
	</if>
	
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	    AND a.oem_code =  #{extra.oemCode}
	</if>
</trim>
</sql>

<!-- 用户查询条件 -->
<sql id="User_Where_Clause">
	WHERE 1=1 
<trim  suffixOverrides="," >
	<if test="extra.projectId != null and extra.projectId != ''" >
	    AND v.projectId =  #{extra.projectId}
	</if>
	
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	    AND v.oemCode = #{extra.oemCode}
	</if>
	
	<if test="extra.buildingId != null and extra.buildingId != ''" >
	    AND v.buildingId = #{extra.buildingId}
	</if>
	
	<if test="extra.floorId != null and extra.floorId != ''" >
	    AND v.floorId = #{extra.floorId}
	</if>
	
	<if test="extra.phone != null and extra.phone != ''" >
	    AND v.mobile LIKE CONCAT('%',#{extra.phone},'%')
	</if>
	
	<if test="extra.proprietorName != null and extra.proprietorName != ''" >
	    AND c.real_name LIKE CONCAT('%',#{extra.proprietorName},'%')
	</if>
	
	<if test="extra.houseNum != null and extra.houseNum != ''" >
	    AND v.houseNum LIKE CONCAT('%',#{extra.houseNum},'%')
	</if>
</trim>
</sql>

<select id="queryByPage"  resultMap="BaseResultMap">
	  SELECT 
		b.project_id AS projectId,
		b.id AS proprietorId,
		e.full_name AS projectName,
		b.name AS name,
		b.phone AS phone,
		a.id AS proprietorHouseId,
		a.use_type AS useType,
		a.pay_type AS payType,
		a.checkin_date AS checkinDate,
		c.id As houseId,
		c.house_num AS houseNum,
		d.id_num AS idNum
	  FROM 
	  	property.t_proprietor_house a 
	  	LEFT JOIN property.t_proprietor b 
	  	ON a.proprietor_id = b.id 
	  	LEFT JOIN property.t_house c 
	  	ON a.project_id = c.project_id AND a.house_num = c.house_num
	  	LEFT JOIN basic.t_customer d 
	  	ON b.cust_global_id = d.global_id
	  	LEFT JOIN property.t_project e 
	  	ON e.id = a.project_id
	  <include refid="Example_Where_Clause"/>
	  ORDER BY 
	    a.register_time DESC
	 <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
     </if>
</select>

<select id="queryByCount"  resultType="java.lang.Long">
	SELECT 
		  COUNT(1) 
	FROM
		( SELECT 
			a.id
		  FROM 
		  	property.t_proprietor_house a 
		  	LEFT JOIN property.t_proprietor b 
		  	ON a.proprietor_id = b.id 
		  	LEFT JOIN property.t_house c 
		  	ON a.project_id = c.project_id AND a.house_num = c.house_num
		  	LEFT JOIN basic.t_customer d 
		  	ON b.cust_global_id = d.global_id
		  	LEFT JOIN property.t_project e 
		  	ON e.id = a.project_id
		  <include refid="Example_Where_Clause"/>) AS t
</select>

<select id="queryProprietorSingleHouse" parameterType="java.lang.String" resultMap="BaseResultMap">
	  SELECT 
		b.id AS proprietorId,
		b.project_id AS projectId,
		e.full_name AS projectName,
		b.name AS name,
		b.phone AS phone,
		b.email AS email,
		b.work_unit AS workUnit,
		b.address AS address,
		b.zip_code AS zipCode,
		b.emergency_contact AS emergencyContact,
		b.emergency_phone AS emergencyPhone,
		b.pic_url AS picUrl,
		b.remark AS remark,
		
		a.id AS proprietorHouseId,
		a.house_num as houseNum,
		a.contract_code AS contractCode,
		a.use_type AS useType,
		a.pay_type AS payType,
		a.checkin_mode AS checkinMode,
		a.checkin_date AS checkinDate,
		a.mandatary_relation AS mandataryRelation,
		a.mandatary_name AS mandataryName,
		a.mandatary_sex AS mandatarySex,
		a.mandatary_phone AS mandataryPhone,
		a.mandatary_id_num AS mandataryIdNum,
		a.mandatary_work_unit AS mandataryWorkUnit,
		a.mandatary_address AS mandataryAddress,
		
		c.id AS houseId,
		d.id AS customerId,
		d.global_id AS custGlobalId,
		d.id_num AS idNum,
		d.mobile AS mobile,
		d.real_name AS realName,
		d.sex AS sex,
		d.birthday AS birthday,
		d.marital_status AS maritalStatus,
		d.status AS status
	  FROM 
	  	property.t_proprietor_house a 
	  	LEFT JOIN property.t_proprietor b 
	  	ON a.proprietor_id = b.id 
	  	LEFT JOIN property.t_house c 
	  	ON a.project_id = c.project_id AND a.house_num = c.house_num
	  	LEFT JOIN basic.t_customer d 
	  	ON b.cust_global_id = d.global_id
	  	LEFT JOIN property.t_project e 
	  	ON e.id = a.project_id
	 WHERE
	    a.id = #{proprietorHouseId}
</select>

<!-- 业主用户 -->
<sql id="proprietor_user">
	SELECT
		u.id AS id,
		u.user_global_id AS userGlobalId,
		u.cust_global_id AS custGlobalId,
		u.register_type AS registerType,
		u.mobile AS mobile,
		u.activate_time AS activateTime,
		u.last_login_time AS lastLoginTime,
		u.status AS status,
		u.oem_code AS oemCode,
		p.project_id AS projectId,
		h.building_id AS buildingId,
		h.floor_id AS floorId,
		h.house_num AS houseNum,
		u.create_time AS createTime
	FROM
		basic.t_user u
		LEFT JOIN property.t_proprietor p 
		ON p.cust_global_id = u.cust_global_id AND p.phone = u.mobile AND p.oem_code = u.oem_code
		LEFT JOIN property.t_proprietor_house ph ON ph.proprietor_id = p.id
		LEFT JOIN property.t_house h ON h.project_id = ph.project_id AND h.house_num = ph.house_num
	WHERE
		h.house_num IS NOT NULL AND p.status = '1'
</sql>

<!-- 住户用户 -->
<sql id="resident_user">
	SELECT
		u.id AS id,
		u.user_global_id AS userGlobalId,
		u.cust_global_id AS custGlobalId,
		u.register_type AS registerType,
		u.mobile AS mobile,
		u.activate_time AS activateTime,
		u.last_login_time AS lastLoginTime,
		u.status AS status,
		u.oem_code AS oemCode,
		r.project_id AS projectId,
		h.building_id AS buildingId,
		h.floor_id AS floorId,
		h.house_num AS houseNum,
		u.create_time AS createTime
	FROM
		basic.t_user u
		LEFT JOIN property.t_resident r ON r.cust_global_id = u.cust_global_id
		AND r.mobile = u.mobile
		AND r.oem_code = u.oem_code
		LEFT JOIN property.t_resident_house rh ON rh.resident_id = r.id
		LEFT JOIN property.t_house h ON h.id = rh.house_id
	WHERE
		h.house_num IS NOT NULL AND r.status = '1'
</sql>

<!-- 查询用户列表 -->
<select id="queryUserByPage" resultMap="UserResultMap">
	SELECT DISTINCT
		v.id,
		v.userGlobalId,
		v.custGlobalId,
		v.registerType,
		v.mobile,
		v.activateTime,
		v.lastLoginTime,
		v.status,
		v.oemCode,
		c.real_name AS customerName
	FROM
		(
			(<include refid="proprietor_user"/>)
			UNION ALL
			(<include refid="resident_user"/>)
		) AS v
	LEFT JOIN basic.t_customer c 
	ON c.global_id = v.custGlobalId
	<include refid="User_Where_Clause"/>
	ORDER BY v.createTime DESC
	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
		${pager.mysqlQueryCondition}
	</if>
</select>

<!-- 查询用户数量 -->
<select id="queryUserByCount" resultType="java.lang.Long">
	SELECT
	  COUNT(1)
	FROM (
		SELECT DISTINCT
			v.id
		FROM
			(
				(<include refid="proprietor_user"/>)
				UNION ALL
				(<include refid="resident_user"/>)
			) AS v
		LEFT JOIN basic.t_customer c 
		ON c.global_id = v.custGlobalId
		<include refid="User_Where_Clause"/>
	) AS ttt
</select>

<select id="queryClientId"  resultMap="UserClientIdResultMap">
(
	SELECT
		c.client_id as clientId,
		c.user_id as userId
	FROM
		(
			SELECT DISTINCT
				u.id
			FROM
				basic.t_user u,
				property.t_proprietor p,
				property.t_proprietor_house t,
				property.t_house h
			WHERE
				u.cust_global_id = p.cust_global_id
			<if test="extra.oemCode != null and extra.oemCode != ''" >
		  	AND u.oem_code = #{extra.oemCode}
		    </if>
			AND p.id = t.proprietor_id
			AND t.project_id = h.project_id
			AND t.house_num = h.house_num
			
			<if test="extra.projectId != null and extra.projectId != ''" >
	       	AND h.project_id = #{extra.projectId}
	   		</if>
   		
	   		<if test="extra.buildingId != null and extra.buildingId != ''" >
	        AND h.building_id = #{extra.buildingId}
	   		</if>
		)s,
		basic.t_push_msg_client c
	WHERE
		s.id = c.user_id
)
UNION
(
	SELECT
		c.client_id as clientId,
		c.user_id as userId
	FROM
		(
			SELECT DISTINCT
				u.id
			FROM
				basic.t_user u,
				property.t_resident r,
				property.t_resident_house t,
				property.t_house h
			WHERE
				u.cust_global_id = r.cust_global_id
			<if test="extra.oemCode != null and extra.oemCode != ''" >
		  	AND u.oem_code = #{extra.oemCode}
		    </if>
			AND r.id = t.resident_id
			AND t.house_id = h.id
			<if test="extra.projectId != null and extra.projectId != ''" >
	       	AND h.project_id = #{extra.projectId}
	   		</if>
   		
	   		<if test="extra.buildingId != null and extra.buildingId != ''" >
	        AND h.building_id = #{extra.buildingId}
	   		</if>
		)s,
		basic.t_push_msg_client c
	WHERE
		s.id = c.user_id
)
</select>

<select id="queryAllClientIdsByProjectId"  resultMap="UserClientIdResultMap" >
(
	SELECT DISTINCT
		c.client_id AS clientId,
		c.user_id AS userId
	FROM
		basic.t_user u,
		property.t_proprietor p,
		basic.t_push_msg_client c
	WHERE
		u.cust_global_id = p.cust_global_id
	<if test="extra.oemCode != null and extra.oemCode != ''" >
  	AND u.oem_code = #{extra.oemCode}
    </if>
	AND u.id = c.user_id
	<if test="extra.projectId != null and extra.projectId != ''" >
	AND p.project_id = #{extra.projectId}
	</if>
)
UNION
	(
		SELECT DISTINCT
			c.client_id AS clientId,
			c.user_id AS userId
		FROM
			basic.t_user u,
			property.t_resident r,
			basic.t_push_msg_client c
		WHERE
			u.cust_global_id = r.cust_global_id
		<if test="extra.oemCode != null and extra.oemCode != ''" >
	  	AND u.oem_code = #{extra.oemCode}
	    </if>
		AND u.id = c.user_id
		<if test="extra.projectId != null and extra.projectId != ''" >
		AND r.project_id = #{extra.projectId}
		</if>
	)
</select>

<select id="queryAllClientIdsByProjectIdAndHouseNum"  resultMap="UserClientIdResultMap" >
(
	SELECT DISTINCT
		c.client_id AS clientId,
		c.user_id AS userId
	FROM
		basic.t_user u,
		property.t_proprietor p,
		property.t_proprietor_house h,
		basic.t_push_msg_client c
	WHERE
		u.cust_global_id = p.cust_global_id
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	 AND u.oem_code = #{extra.oemCode}
	</if>
	AND u.id = c.user_id
	AND p.id = h.proprietor_id
	<if test="extra.projectId != null and extra.projectId != ''" >
	AND h.project_id = #{extra.projectId}
	</if>
	<if test="extra.houseNum != null and extra.houseNum != ''" >
	AND h.house_num = #{extra.houseNum}
	</if>
)
UNION
	(
		SELECT DISTINCT
			c.client_id AS clientId,
			c.user_id AS userId
		FROM
			basic.t_user u,
			property.t_resident r,
			property.t_resident_house t,
			property.t_house h,
			basic.t_push_msg_client c
		WHERE
			u.cust_global_id = r.cust_global_id
	    <if test="extra.oemCode != null and extra.oemCode != ''" >
	  	AND u.oem_code = #{extra.oemCode}
	    </if>
		AND u.id = c.user_id
		AND r.id = t.resident_id
		AND t.house_id = h.id
		<if test="extra.projectId != null and extra.projectId != ''" >
		AND h.project_id = #{extra.projectId}
		</if>
		<if test="extra.houseNum != null and extra.houseNum != ''" >
		AND h.house_num = #{extra.houseNum}
		</if>
	)
</select>

<!-- 获取业主信息 -->
<select id="queryProprietorByProjectIdAndHouseNum" resultMap="BaseResultMap">
	SELECT
		p.id AS proprietorId,
		p.cust_global_id AS custGlobalId,
		p. NAME AS NAME,
		p.phone AS phone,
		p.email AS email,
		p.work_unit AS workUnit,
		p.address AS address,
		p.zip_code AS zipCode,
		p.emergency_contact AS emergencyContact,
		p.emergency_phone AS emergencyPhone,
		p.pic_url AS picUrl
	FROM
		t_proprietor p,
		t_proprietor_house h
	WHERE
		p.id = h.proprietor_id
	<if test="extra.projectId != null and extra.projectId != ''" >
	AND h.project_id = #{extra.projectId}
	</if>
	<if test="extra.houseNum != null and extra.houseNum != ''" >
	AND h.house_num = #{extra.houseNum}
	</if>
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	AND h.oem_code = #{extra.oemCode}
	</if>
</select>

<select id="queryByHouseNum" resultMap="proprietorMap">
	SELECT
		p.id,
		p.name
	FROM
		property.t_proprietor p
		LEFT JOIN property.t_proprietor_house ph ON ph.proprietor_id = p.id
		AND ph.project_id = p.project_id
	WHERE
		p.project_id = #{projectId}
		AND ph.house_num = #{houseNum}
		AND p.oem_code = #{oemCode}
</select>

</mapper>   
