<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.ResidentHistoryQueryRepository" > 

<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.household.ResidentHistoryVo" >
</resultMap>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">

<trim  suffixOverrides="," >
	<if test="extra.projectId != null and extra.projectId != ''" >
	    AND rhis.project_id =  #{extra.projectId}
	</if>

	<if test="extra.housenum != null and extra.housenum != ''" >
	    AND rhis.house_num =  #{extra.houseNum}
	</if>
	
	
	<if test="extra.name != null and extra.name != ''" >
	    AND rhis.name =  #{extra.name}
	</if>
	
	<if test="extra.startDate != null and extra.startDate != '' and 
			extra.endDate != null and extra.endDate != ''">
				AND rhis.create_time between #{extra.startDate} And
				#{extra.endDate}
	</if>
	
	<if test="extra.busitype != null and extra.busitype ">
				AND rhis.busi_type = #{extra.busitype}
	</if>
	
</trim>
</sql>

 <select id="queryByPage"  resultMap="BaseResultMap">
	 SELECT
	 	rhis.id as id,
		p.full_name AS projectName,
		rhis.house_num as houseNum,
		rhis.`name` as name,
		rhis.resident_relation as relation,
		rhis.mobile as mobile,
		rhis.create_time as  createTime,
		rhis.`name` as staffName,
		(SELECT COUNT(1) from t_resident_house rh,t_house h where h.id=rh.house_id and  rh.resident_id= r.id and rhis.house_num = h.house_num)  AS STATUS,
		rhis.busi_type as busiType,
		r.id as residentId
	FROM
		t_resident_history rhis,
		t_resident r 
	LEFT JOIN t_project p ON p.id = r.project_id
	WHERE
		 r.id = rhis.resident_id
	  <include refid="Example_Where_Clause"/>
	  ORDER BY rhis.create_time DESC
	  <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
          ${pager.mysqlQueryCondition}
      </if>
</select> 

<select id="queryByCount"  resultType="java.lang.Long">
	SELECT 
	  COUNT(1) 
	FROM
	(  SELECT
	 	rhis.id as id
	FROM
		t_resident_history rhis,
		t_resident r 
	WHERE
		 r.id = rhis.resident_id
	  <include refid="Example_Where_Clause"/>
	  ) AS ttt
</select>


</mapper>