<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.ResidentQueryRepository" > 

<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.household.ResidentVo" >
	<result column="customerId" property="customer.id"/>
	<result column="globalId" property="customer.globalId"/>
	<result column="idNum" property="customer.idNum"/>
	<result column="sex" property="customer.sex"/>
	<result column="birthday" property="customer.birthday"/>	
	<result column="nativePlace" property="customer.nativePlace"/>
	<result column="national" property="customer.national"/>	
	<result column="maritalStatus" property="customer.maritalStatus"/>
	<result column="eduDegree" property="customer.eduDegree"/>
	<result column="id" property="id"/>
	<result column="name" property="name"/>
</resultMap>

<resultMap id="GuardResidentVo" type="com.liefeng.property.vo.guard.GuardResidentVo" ></resultMap>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	WHERE 1=1 
<trim  suffixOverrides="," >
	<if test="extra.proprietorId != null and extra.proprietorId != ''" >
	    AND a.proprietor_id =  #{extra.proprietorId}
	</if>

	<if test="extra.houseId != null and extra.houseId != ''" >
	    AND a.house_id =  #{extra.houseId}
	</if>
	
	<if test="extra.residentId != null and extra.residentId != ''" >
	    AND a.id =  #{extra.residentId}
	</if>
	
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	    AND a.oem_code =  #{extra.oemCode}
	</if>
	
	<if test="extra.custGlobalId != null and extra.custGlobalId != ''" >
	    AND a.custGlobalId =  #{extra.custGlobalId}
	</if>
	
</trim>
</sql>

<select id="queryByPage"  resultMap="BaseResultMap">
	  SELECT
	      a.id AS id,
	      a.resident_type AS residentType,
	      a.resident_relation AS residentRelation,
	      a.name AS name,
	      a.mobile AS mobile,
	      a.tel AS tel,
	      b.id_num AS idNum,
	      b.sex AS sex,
	      a.status AS status,
	      a.work_unit as workUnit
	  FROM
	      property.t_resident a 
	      LEFT JOIN basic.t_customer b 
	      ON a.cust_global_id = b.global_id
	  <include refid="Example_Where_Clause"/>
	  <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
          ${pager.mysqlQueryCondition}
      </if>
</select>

<select id="queryByCount"  resultType="java.lang.Long">
SELECT 
	  COUNT(1) 
FROM
	( SELECT
	      a.id
	  FROM
	      property.t_resident a 
	      LEFT JOIN basic.t_customer b 
	      ON a.cust_global_id = b.global_id
	      <include refid="Example_Where_Clause"/>
	  ) AS ttt
</select>

<select id="queryById" parameterType="java.lang.String" resultMap="BaseResultMap">
	  SELECT
	      a.id AS id,
	      a.cust_global_id as custGlobalId,
	      a.house_id as houseId,
	      a.proprietor_id as  proprietorId,
	      a.is_proprietor as isProprietor,
	      a.resident_type as residentType,
	      a.resident_relation as residentRelation,
	      a.checkin_date as checkinDate,
	      a.checkup_date as checkupDate,
	      a.name as name,
	      a.mobile as mobile,
	      a.tel as tel,
	      a.work_unit as workUnit,
	      a.hobbies as hobbies,
	      a.specialty as specialty,
	      a.pic as pic,
	      a.remark as remark,
	      a.oem_code as oemCode,
	      
	      b.id as customerId,
	      b.global_id as globalId,
	      b.id_num AS idNum,
	      b.sex AS sex,
	      b.birthday as birthday,
	      b.native_place as nativePlace,
	      b.national as national,
	      b.marital_status as maritalStatus,
	      b.edu_degree as eduDegree
	  FROM
	      property.t_resident a 
	      LEFT JOIN basic.t_customer b 
	      ON a.cust_global_id = b.global_id
	  WHERE
	      a.id = #{residentId}
</select>


<select id="queryByCustGlobalIdAndProjectId" resultMap="BaseResultMap">
	  SELECT
	      a.id AS id,
	      a.cust_global_id as custGlobalId
	  FROM
	      property.t_resident a 
	      LEFT JOIN property.t_house b
	      ON b.id = a.house_id
	  WHERE
	      a.cust_global_id = #{extra.custGlobalId} AND b.project_id = #{extra.projectId} AND a.status != '2'
</select>

<!-- 查询业主房产中住户 -->
<select id="queryResidents" resultMap="BaseResultMap">
	select
		pj.full_name as projectName,
		h.house_num as houseNum,
		r.name as name,
		r.resident_relation as residentRelation
	from
		property.t_resident r 
		left join property.t_proprietor p
		on p.id = r.proprietor_id
		left join property.t_house h
		on h.id = r.house_id ,
		property.t_project pj
	where
		p.project_id = pj.id
		and p.project_id = #{extra.projectId} 
		and p.cust_global_id = #{extra.custGlobalId}
	order by
		h.house_num
</select>

<sql id="GuardResident_Where_Clause">
    WHERE 1=1 
<trim  suffixOverrides="," >
    <if test="extra.projectId != null and extra.projectId != ''" >
        AND t.projectId =  #{extra.projectId}
    </if>

    <if test="extra.houseNum != null and extra.houseNum != ''" >
        AND t.houseNum =  #{extra.houseNum}
    </if>
    
     <if test="extra.name != null and extra.name != ''" >
        AND t.name like CONCAT('%',#{extra.name},'%')
    </if>
    
    <if test="extra.buildingId != null and extra.buildingId != ''" >
        AND t.building_id =  #{extra.buildingId}
    </if>

    
</trim>
</sql>

<select id="queryGuardResidents" resultMap="GuardResidentVo">
select * from (
	   SELECT
	        p.id projectId,
	        p.full_name projectName,
	        h.building_id,
	        h.house_num houseNum,
	        r.id,
	        r.resident_relation residentRelation,
	        r.`name`,
	        r.mobile,
	        gc.id guardCardId,
	        gc.sn guardCardSn,
	        gc.status guardCardStatus,
	        rc.plate_num plateNum
	    FROM
	        t_resident r
	    LEFT JOIN t_house h ON r.house_id = h.id
	    LEFT JOIN t_project p ON h.project_id = p.id
	    LEFT JOIN t_guard_card_user gcu ON r.id = gcu.user_id
	    LEFT JOIN t_guard_card gc ON gcu.card_id = gc.id
	    LEFT JOIN t_resident_car rc on h.id = rc.house_id
        where 1=1
        <if test="extra.oemCode != null and extra.oemCode != ''" >
            AND r.oem_code =  #{extra.oemCode}
        </if>
        
        
        UNION

        SELECT
            prj.id projectId,
            prj.full_name projectName,
            h.building_id,
            ph.house_num houseNum,
            p.id,
            '01' residentRelation,
            p.`name`,
            p.phone mobile,
            gc.id guardCardId,
            gc.sn guardCardSn,
            gc.status guardCardStatus,
            rc.plate_num plateNum
        FROM
            t_proprietor p
        LEFT JOIN t_proprietor_house ph ON p.id = ph.proprietor_id
        LEFT JOIN t_project prj ON ph.project_id = prj.id
        LEFT JOIN t_guard_card_user gcu ON p.id = gcu.user_id
        LEFT JOIN t_guard_card gc ON gcu.card_id = gc.id
        LEFT JOIN t_house h on prj.id = ph.project_id and ph.house_num = h.house_num
        LEFT JOIN t_resident_car rc on h.id = rc.house_id
        where 1=1 
        <if test="extra.oemCode != null and extra.oemCode != ''" >
            AND p.oem_code =  #{extra.oemCode}
        </if>
) t 

<include refid="GuardResident_Where_Clause"/>

<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
    ${pager.mysqlQueryCondition}
</if>

</select>

<select id="queryGuardResidentsByCount"  resultType="java.lang.Long">
select count(*) from (
       SELECT
            p.id projectId,
            p.full_name projectName,
            h.building_id,
            h.house_num houseNum,
            r.id,
            r.resident_relation residentRelation,
            r.`name`,
            r.mobile,
            gc.id guardCardId,
            gc.sn guardCardSn,
            gc.status guardCardStatus,
            rc.plate_num plateNum
        FROM
            t_resident r
        LEFT JOIN t_house h ON r.house_id = h.id
        LEFT JOIN t_project p ON h.project_id = p.id
        LEFT JOIN t_guard_card_user gcu ON r.id = gcu.user_id
        LEFT JOIN t_guard_card gc ON gcu.card_id = gc.id
        LEFT JOIN t_resident_car rc on h.id = rc.house_id
        where 1=1 
        <if test="extra.oemCode != null and extra.oemCode != ''" >
            AND r.oem_code = #{extra.oemCode}
        </if>
        
        UNION

        SELECT
            prj.id projectId,
            prj.full_name projectName,
            h.building_id,
            ph.house_num houseNum,
            p.id,
            '01' residentRelation,
            p.`name`,
            p.phone mobile,
            gc.id guardCardId,
            gc.sn guardCardSn,
            gc.status guardCardStatus,
            rc.plate_num plateNum
        FROM
            t_proprietor p
        LEFT JOIN t_proprietor_house ph ON p.id = ph.proprietor_id
        LEFT JOIN t_project prj ON ph.project_id = prj.id
        LEFT JOIN t_guard_card_user gcu ON p.id = gcu.user_id
        LEFT JOIN t_guard_card gc ON gcu.card_id = gc.id
        LEFT JOIN t_house h on prj.id = ph.project_id and ph.house_num = h.house_num
        LEFT JOIN t_resident_car rc on h.id = rc.house_id
        where 1=1 
        <if test="extra.oemCode != null and extra.oemCode != ''" >
            AND p.oem_code =  #{extra.oemCode}
        </if>
) t 
<include refid="GuardResident_Where_Clause"/>

</select>

<select id="queryByHouseId" resultMap="BaseResultMap">
	SELECT
		id,
		name
	FROM
		t_resident
	WHERE
		house_id = #{extra.houseId}
	AND status = '1'
</select>

</mapper>
