<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.ResidentQueryRepository" > 

<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.household.ResidentVo" >
	<result column="residentHouseId" property="residentHouse.id"/>
	<result column="houseId" property="residentHouse.houseId"/>
	<result column="proprietorId" property="residentHouse.proprietorId"/>
	<result column="residentType" property="residentHouse.residentType"/>
	<result column="residentRelation" property="residentHouse.residentRelation"/>
	<result column="checkinDate" property="residentHouse.checkinDate"/>
	<result column="checkupDate" property="residentHouse.checkupDate"/>
	<result column="houseNum" property="residentHouse.houseNum"/>

	<result column="customerId" property="customer.id"/>
	<result column="globalId" property="customer.globalId"/>
	<result column="idNum" property="customer.idNum"/>
	<result column="sex" property="customer.sex"/>
	<result column="birthday" property="customer.birthday"/>
	<result column="nativePlace" property="customer.nativePlace"/>
	<result column="national" property="customer.national"/>
	<result column="maritalStatus" property="customer.maritalStatus"/>
	<result column="eduDegree" property="customer.eduDegree"/>
</resultMap>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	WHERE 1=1 
<trim  suffixOverrides="," >
	<if test="extra.proprietorId != null and extra.proprietorId != ''" >
	    AND rh.proprietor_id =  #{extra.proprietorId}
	</if>

	<if test="extra.houseId != null and extra.houseId != ''" >
	    AND rh.house_id =  #{extra.houseId}
	</if>
	
	<if test="extra.residentId != null and extra.residentId != ''" >
	    AND r.id =  #{extra.residentId}
	</if>
	
	<if test="extra.oemCode != null and extra.oemCode != ''" >
	    AND r.oem_code =  #{extra.oemCode}
	</if>
	
	<if test="extra.custGlobalId != null and extra.custGlobalId != ''" >
	    AND r.custGlobalId =  #{extra.custGlobalId}
	</if>
	
	<if test="extra.status != null and extra.status != ''" >
	    AND r.status =  #{extra.status}
	</if>
	
</trim>
</sql>

<select id="queryByPage"  resultMap="BaseResultMap">
	  SELECT
	      r.id AS id,
	      r.cust_global_id AS custGlobalId,
	      r.name AS name,
	      r.mobile AS mobile,
	      r.tel AS tel,
	      r.status AS status,
	      r.work_unit as workUnit,
	      r.pic as pic,
	      rh.house_id as houseId,
	      rh.resident_type AS residentType,
	      rh.resident_relation AS residentRelation,
	      c.id_num AS idNum,
	      c.sex AS sex,
	      c.global_id AS globalId
	  FROM
	      property.t_resident r 
	      LEFT JOIN property.t_resident_house rh
	      ON rh.resident_id = r.id AND rh.oem_code = r.oem_code
	      LEFT JOIN basic.t_customer c 
	      ON c.global_id = r.cust_global_id
	  <include refid="Example_Where_Clause"/>
	  <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
          ${pager.mysqlQueryCondition}
      </if>
</select>

<select id="queryByCount"  resultType="java.lang.Long">
SELECT 
	  COUNT(1) 
FROM
	( SELECT
	      r.id AS id
	  FROM
	      property.t_resident r 
	      LEFT JOIN property.t_resident_house rh
	      ON rh.resident_id = r.id AND rh.oem_code = r.oem_code
	      LEFT JOIN basic.t_customer c 
	      ON c.global_id = r.cust_global_id
	  <include refid="Example_Where_Clause"/>
	  ) AS ttt
</select>

<!-- 查询某个房屋中某个住户 -->
<select id="queryByIdAndHouseId" resultMap="BaseResultMap">
	  SELECT
	      r.id as id,
	      r.cust_global_id as custGlobalId,
	      r.project_id as projectId,
	      r.name as name,
	      r.mobile as mobile,
	      r.tel as tel,
	      r.work_unit as workUnit,
	      r.hobbies as hobbies,
	      r.specialty as specialty,
	      r.pic as pic,
	      r.remark as remark,
	      r.oem_code as oemCode,
	      
	      rh.id as residentHouseId,
	      rh.house_id as houseId,
	      rh.proprietor_id as  proprietorId,
	      rh.resident_type as residentType,
	      rh.resident_relation as residentRelation,
	      rh.checkin_date as checkinDate,
	      rh.checkup_date as checkupDate,
	      
	      c.id as customerId,
	      c.global_id as globalId,
	      c.id_num as idNum,
	      c.sex as sex,
	      c.birthday as birthday,
	      c.native_place as nativePlace,
	      c.national as national,
	      c.marital_status as maritalStatus,
	      c.edu_degree as eduDegree
	  FROM
	      property.t_resident r
	      LEFT JOIN property.t_resident_house rh
	      ON rh.resident_id = r.id AND rh.oem_code = r.oem_code
	      LEFT JOIN basic.t_customer c 
	      ON r.cust_global_id = c.global_id
	  WHERE
	      r.id = #{extra.residentId}
	      AND rh.house_id = #{extra.houseId}
</select>


<select id="queryByCustGlobalIdAndProjectId" resultMap="BaseResultMap">
	  SELECT
	      r.id AS id,
	      r.cust_global_id as custGlobalId
	  FROM
	      property.t_resident r 
	  WHERE
	      r.cust_global_id = #{extra.custGlobalId} 
	      AND r.project_id = #{extra.projectId} 
	      AND r.status != '2'
</select>

<!-- 查询账号关联房子中的住户或业主-->
<select id="queryRelatedHouses" resultMap="BaseResultMap">
SELECT DISTINCT
	houseNum,
	projectName,
	name,
	residentRelation
FROM (
	(SELECT
		pj.full_name AS projectName,
		h.house_num AS houseNum,
		p.name AS name,
		'01' AS residentRelation,
		p.project_id AS projectId,
		p.cust_global_id AS custGlobalId
	FROM
		property.t_proprietor p
		LEFT JOIN property.t_proprietor_house ph 
		ON ph.proprietor_id = p.id
		LEFT JOIN property.t_house h 
		ON h.project_id = ph.project_id AND h.house_num = ph.house_num
		LEFT JOIN property.t_project pj 
		ON pj.id = p.project_id)
	UNION ALL
	(SELECT 
		pj.full_name AS projectName,
		h.house_num AS houseNum,
		p.name AS name,
		rh.resident_relation AS residentRelation,
		r.project_id AS projectId,
		r.cust_global_id AS custGlobalId
	FROM
		property.t_resident r 
		LEFT JOIN property.t_resident_house rh 
		ON rh.resident_id = r.id
		LEFT JOIN property.t_house h 
		ON h.id = rh.house_id 
		LEFT JOIN property.t_project pj 
		ON pj.id = r.project_id 
		LEFT JOIN property.t_proprietor_house ph 
		ON ph.project_id = h.project_id AND ph.house_num = h.house_num
		LEFT JOIN property.t_proprietor p 
		ON p.id = ph.proprietor_id)
	) AS v
WHERE
	v.projectId = #{extra.projectId}
	AND v.custGlobalId = #{extra.custGlobalId}
ORDER BY
	v.houseNum
</select>

<select id="queryByHouseId" resultMap="BaseResultMap">
	SELECT
		r.id as id,
		r.name as name,
		r.cust_global_id as custGlobalId,
		r.pic as pic,
		r.mobile as mobile
	FROM
		property.t_resident r
		left join property.t_resident_house rh
		on rh.resident_id = r.id and rh.oem_code = r.oem_code
	WHERE
		rh.house_id = #{extra.houseId}
	AND r.status = '1'
</select>

<select id="queryByHouseNum" resultMap="BaseResultMap">
	SELECT
		r.id,
		r.name
	FROM
		property.t_resident r
		LEFT JOIN property.t_resident_house rh ON rh.resident_id = r.id
		AND rh.project_id = r.project_id
		LEFT JOIN property.t_house h ON rh.house_id = h.id
	WHERE
		r.project_id = #{projectId}
		AND r.oem_code = #{oemCode}
		AND h.house_num = #{houseNum}
</select>

</mapper>