<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.TaskQueryRepository" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.workbench.TaskVo" >
	<result column="id" property="id"/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>
	<result column="status" property="status"/>
	<result column="priority" property="priority"/>
	<result column="start_time" property="startTime"/>
	<result column="end_time" property="endTime"/>
	<result column="result" property="result"/>		
	<result column="creator_id" property="creatorId"/>
	<result column="name" property="creatorName"/>
</resultMap>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where t.id = p.task_id and t.creator_id = s.id
<trim  suffixOverrides="," >
	<if test="extra.creatorId != null and extra.creatorId != '' and extra.staffId != null and extra.staffId != ''" >
	    and (t.creator_id = #{extra.creatorId} or p.staff_id =  #{extra.staffId})
	</if>
	<if test="extra.status != null and extra.status != ''">
		and t.status = #{extra.status}
	</if>
        order by t.create_time desc
</trim>
</sql>

<select id="queryByPage" resultMap="BaseResultMap">
    select 
	    t.id, 
	    t.title, 
	    t.content, 
	    t.status, 
	    t.priority, 
	    t.start_time, 
	    t.end_time, 
	    t.result, 
	    t.creator_id,
	    s.name
	from 
		t_task t, 
		t_task_privilege p,
		t_property_staff s
		<include refid="Example_Where_Clause" />
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	          ${pager.mysqlQueryCondition}
	    </if>
</select>


	<select id="queryByCount"  resultType="java.lang.Long">
	select 
		count(1) 
	from(
			select 
				t.id
		    from 
		    	t_task t, 
		    	t_task_privilege p,
		    	t_property_staff s
		    <include refid="Example_Where_Clause" />
		) t
	</select>
	
</mapper>   
