<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.TaskAttachQueryRepository" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.service.vo.TaskAttachVo">
</resultMap>

<select id="queryTaskAttachList" resultMap="BaseResultMap">
	select 
		wta.id as id,
		wta.order_id as orderId,
		wta.task_id as taskId,
		wta.creator_id as creatorId,
		tps.name as creatorName,
		wta.upload_time as uploadTime,
		wta.file_url as fileUrl,
		wta.file_size as fileSize,
		wta.file_name as fileName
	from
		service.wf_task_attach wta 
		left join property.t_property_staff tps
		on tps.id = wta.creator_id
	where
		wta.order_id = #{orderId}
	order by
		wta.upload_time desc
</select>
</mapper>   
