<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.VisitorQueryRepository" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.household.VisitorVo" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="id_num" property="idNum"/>
	<result column="phone" property="phone"/>
	<result column="project_id" property="projectId"/>
	<result column="interviewee" property="interviewee"/>
	<result column="house_num" property="houseNum"/>
	<result column="plate_num" property="plateNum"/>		
	<result column="in_time" property="inTime"/>
	<result column="out_time" property="outTime"/>
	<result column="type" property="type"/>
	<result column="full_name" property="fullName"/>
</resultMap>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
	where t.project_id = p.id
	<trim  suffixOverrides="," >
		<if test="extra.projectId != null and extra.projectId != ''" >
		    and t.project_id = #{extra.projectId}
		</if>
		<if test="extra.name != null and extra.name != ''">
			and t.name like concat('%', #{extra.name},'%')
		</if>
		<if test="extra.phone != null and extra.phone != ''">
			and t.phone like concat('%', #{extra.phone},'%')
		</if>
		<if test="extra.manageProjectIds != null and extra.manageProjectIds != ''" >
		    and FIND_IN_SET(t.project_id, #{extra.manageProjectIds})
		</if>
		<if test="extra.oemCode != null and extra.oemCode != ''" >
		    and t.oem_code = #{extra.oemCode}
		</if>
	        order by in_time desc
	</trim>
</sql>

<select id="queryByPage" resultMap="BaseResultMap">
   SELECT
		t.id,
		t.name,
		t.id_num,
		t.phone,
		t.project_id,
		t.interviewee,
		t.house_num,
		t.plate_num,
		t.in_time,
		t.out_time,
		t.type,
		p.full_name
	FROM
		t_visitor t,
		t_project p
		<include refid="Example_Where_Clause" />
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	          ${pager.mysqlQueryCondition}
	    </if>
</select>


<select id="queryByCount"  resultType="java.lang.Long">
select 
	count(1) 
from(
		SELECT
			t.id
		FROM
			t_visitor t,
			t_project p
	    <include refid="Example_Where_Clause" />
	) v
</select>

</mapper>   
