<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liefeng.property.repository.mybatis.HouseQueryRepository" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.liefeng.property.vo.project.HouseVo" >
	<result column="id" property="id"/>
	<result column="house_num" property="houseNum"/>
	<result column="project_id" property="projectId"/>
	<result column="building_id" property="buildingId"/>
	<result column="floor_id" property="floorId"/>
	<result column="house_type" property="houseType"/>
	<result column="actual_area" property="actualArea"/>
	<result column="gross_area" property="grossArea"/>		
	<result column="usable_area" property="usableArea"/>
	<result column="apportion_area" property="apportionArea"/>
	<result column="property_fee" property="propertyFee"/>
	<result column="sale_status" property="saleStatus"/>
	<result column="ownership" property="ownership"/>
	<result column="staff_id" property="staffId"/>
	<result column="register_time" property="registerTime"/>
	<result column="oem_code" property="oemCode"/>
</resultMap>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1 
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="oemCode != null and oemCode != ''" >
	    and oem_code = #{oemCode}
	</if>
</trim>
</sql>

<select id="queryByPage" resultMap="BaseResultMap">
	  SELECT
	      *
	  FROM
	      property.t_house
      <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
          ${pager.mysqlQueryCondition}
      </if>
</select>

</mapper>   
